aside#sidebar

	nav#nav-main
		ul
			li
				a(href="/" class=(tab === 'leaderboards' ? 'active' : '')) Leaderboards
			li
				a(href="/stats/wins" class=(tab === 'player stats' ? 'active' : '')) Player Stats
			li
				a(href="/compare" class=(tab === 'compare' ? 'active' : '')) Player Comparison
			// li
			// 	a(href="/records" class=(tab === 'records' ? 'active' : '')) Records
