aside#sidebar

	nav#nav-main
		ul
			li
				a(href="/" class=(nav === 'leaderboards' ? 'active' : '')) Leaderboards

			li
				a(href="/records" class=(nav === 'records' ? 'active' : '')) Records

			li
				a(href="/compare" class=(nav === 'compare' ? 'active' : '')) Player Comparison

			li
				a(href="/rolling" class=(nav === 'rolling' ? 'active' : '')) Rolling Twenty Five

			li
				a(href="/stats/league-table" class=(nav === 'league-table' ? 'active' : '')) League Table

			li
				a(href="/stats/summary" class=(nav === 'summary' ? 'active' : '')) Summary

			li
				a(href="/stats/defense" class=(nav === 'defense' ? 'active' : '')) Defense

			li
				a(href="/stats/offense" class=(nav === 'offense' ? 'active' : '')) Offense

			li
				a(href="/stats/pups" class=(nav === 'powerups' ? 'active' : '')) Powerups

			li
				a(href="/stats/miscellaneous" class=(nav === 'miscellaneous' ? 'active' : '')) Miscellaneous

			li
				a(href="/maps" class=(nav === 'maps' ? 'active' : '')) Map Statistics

	.tidbits
		a(href="/log") Log
		span Built by
		a(href="https://tagpro.koalabeast.com/profile/5c534eebd2f5e06f400fedf1") nom
