aside#sidebar

	nav#nav-main
		ul
			li
				a(href="/" class=(nav === 'leaderboards' ? 'active' : '')) Leaderboards

			li
				a(href="/stats/league-table" class=(nav === 'league-table' ? 'active' : '')) League Table

			li
				a(href="/stats/summary" class=(nav === 'summary' ? 'active' : '')) Summary

			li
				a(href="/stats/attacking" class=(nav === 'attacking' ? 'active' : '')) Attacking

			li
				a(href="/stats/defending" class=(nav === 'defending' ? 'active' : '')) Defending

			li
				a(href="/stats/pups" class=(nav === 'powerups' ? 'active' : '')) Powerups

			li
				a(href="/stats/miscellaneous" class=(nav === 'miscellaneous' ? 'active' : '')) Miscellaneous

			//- li
			//- a(href="/compare" class=(nav === 'compare' ? 'active' : '')) Player Comparison

			li
				a(href="/records" class=(nav === 'records' ? 'active' : '')) Records

			//-li
			//-	a(href="/log" class=(nav === 'log' ? 'active' : '')) Recent Games - Log
