aside#sidebar

    nav#nav-main
      ul
        li
          a(href="/" class="active") Dashboard

        li
          a(href="/player-stats") Player Stats

        li
          a(href="/player-compare") Player Comparison

        li
          a(href="/records") Records
