doctype html
html
  head
    block title
    meta(charset="utf-8")
    script(src='/init.js' async)
    link(rel='stylesheet' href='/init.css')
    link(rel='icon', href='/favicon.svg')
  body
    div#page-wrapper
      include ../includes/_header.pug

      block nav-current
          -var tab = 'none'

      include ../includes/_nav.pug
      block content
      block demo-script
    include ../includes/_foot.pug
