doctype html
html(lang='en')
  head
    block title
    meta(charset="utf-8")
    link(rel='stylesheet' href='/init.css')
    script(src='/init.js' async)
  body
    div#page-wrapper
      include ../includes/_header.pug
      include ../includes/_nav.pug
      block content
      block demo-script
    include ../includes/_foot.pug
