doctype html
html(lang="em")
	head
		title Page Not Found
		script(defer, type="text/javascript", src="https://api.pirsch.io/pirsch.js", id="pirschjs", data-code="rCf3zbJZfR6JWanXlrObtEsAvLrlZLHS")

	body(style="background:black;text-align:center;padding-top:15%")

		div

			|<iframe width="560" height="315" src="https://www.youtube.com/embed/hbX3u7VHzV4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
