- const isUserEmpty = !user || Object.keys(user).length === 0

include admin.head.pug

.temp.hide
	svg
		defs
			symbol#loader(viewBox="0 0 50 50")
				circle(cx="25", cy="25", r="20")

			symbol#back(viewBox="0 0 492 492")
				path(d='M464.344 207.418l.768.168H135.888l103.496-103.724c5.068-5.064 7.848-11.924 7.848-19.124 0-7.2-2.78-14.012-7.848-19.088L223.28 49.538c-5.064-5.064-11.812-7.864-19.008-7.864-7.2 0-13.952 2.78-19.016 7.844L7.844 226.914C2.76 231.998-.02 238.77 0 245.974c-.02 7.244 2.76 14.02 7.844 19.096l177.412 177.412c5.064 5.06 11.812 7.844 19.016 7.844 7.196 0 13.944-2.788 19.008-7.844l16.104-16.112c5.068-5.056 7.848-11.808 7.848-19.008 0-7.196-2.78-13.592-7.848-18.652L134.72 284.406h329.992c14.828 0 27.288-12.78 27.288-27.6v-22.788c0-14.82-12.828-26.6-27.656-26.6z')

			symbol#delete(viewBox="0 0 511.992 511.992")
				path(d="M415.402 495.422l-159.406-159.41L96.59 495.422c-22.098 22.094-57.922 22.094-80.02 0-22.093-22.098-22.093-57.922 0-80.02l159.41-159.406L16.57 96.59c-22.093-22.098-22.093-57.922 0-80.02 22.098-22.093 57.922-22.093 80.02 0l159.406 159.41L415.402 16.57c22.098-22.093 57.922-22.093 80.02 0 22.094 22.098 22.094 57.922 0 80.02l-159.41 159.406 159.41 159.406c22.094 22.098 22.094 57.922 0 80.02-22.098 22.094-57.922 22.094-80.02 0zm0 0")

			symbol#bin(viewBox="0 0 512 512")
				path(d="M452.923 98.462h-98.462C354.462 44.081 310.38 0 256 0s-98.462 44.081-98.462 98.462H59.077c-13.598 0-24.615 11.018-24.615 24.615s11.018 24.615 24.615 24.615h9.846V448c.059 35.328 28.672 63.941 64 64h246.154c35.328-.059 63.941-28.672 64-64V147.692h9.846c13.598 0 24.615-11.018 24.615-24.615s-11.017-24.615-24.615-24.615zM256 49.231c27.185 0 49.231 22.046 49.231 49.231h-98.462c0-27.186 22.046-49.231 49.231-49.231zM393.846 448c0 8.153-6.617 14.769-14.769 14.769H132.923c-8.153 0-14.769-6.617-14.769-14.769V147.692h275.692V448z")
				path(d="M201.846 379.077c-13.598 0-24.615-11.018-24.615-24.615V256c0-13.598 11.018-24.615 24.615-24.615s24.615 11.018 24.615 24.615v98.462c.001 13.597-11.017 24.615-24.615 24.615zM310.154 379.077c-13.598 0-24.615-11.018-24.615-24.615V256c0-13.598 11.018-24.615 24.615-24.615 13.598 0 24.615 11.018 24.615 24.615v98.462c0 13.597-11.018 24.615-24.615 24.615z")

			symbol#verified(viewBox="0 0 24 24")
				path(d="M18.581,2.14,12.316.051a1,1,0,0,0-.632,0L5.419,2.14A4.993,4.993,0,0,0,2,6.883V12c0,7.563,9.2,11.74,9.594,11.914a1,1,0,0,0,.812,0C12.8,23.74,22,19.563,22,12V6.883A4.993,4.993,0,0,0,18.581,2.14ZM20,12c0,5.455-6.319,9.033-8,9.889-1.683-.853-8-4.42-8-9.889V6.883A3,3,0,0,1,6.052,4.037L12,2.054l5.948,1.983A3,3,0,0,1,20,6.883Z")
				path(d="M15.3,8.3,11.112,12.5,8.868,10.16a1,1,0,1,0-1.441,1.386l2.306,2.4a1.872,1.872,0,0,0,1.345.6h.033a1.873,1.873,0,0,0,1.335-.553l4.272-4.272A1,1,0,0,0,15.3,8.3Z")

			symbol#trophy(viewBox="0 0 471.122 471.122")
				path(d="M462.238 58.139c-10.477-15.693-29.517-24.219-52.253-23.416-18.469.656-39.466 10.809-55.399 20.424v-.121c.013-.402.06-.795.06-1.203 0-18.914-15.332-34.248-34.249-34.248-.531 0-85.001-.207-85.001-.207v.072s-84.137.203-84.668.203c-18.916 0-34.249 15.334-34.249 34.25 0 .404.047.801.061 1.201v.121c-15.934-9.613-36.93-19.768-55.398-20.426-22.746-.809-41.784 7.727-52.259 23.421-13.256 19.861-11.669 48.079 4.717 83.872 24.747 54.043 82.906 94.601 111.726 112.162 14.109 32.771 43.256 57.389 81.561 65.108.676 1.603 1.036 3.166 1.036 4.763v52.604h-23.016c-12.106 0-21.919 7.479-21.919 16.709v2.471h-7.901c-15.234 0-27.583 12.352-27.583 27.584v28.271c67.103 0 141.579-.068 216.113-.068v-28.271c0-15.232-12.348-27.582-27.582-27.582h-7.9v-2.471c0-9.23-9.813-16.709-21.92-16.709h-23.016v-52.607c0-1.598.36-3.158 1.036-4.76 38.304-7.721 67.452-32.338 81.562-65.107 28.819-17.564 86.979-58.121 111.725-112.166 16.386-35.794 17.974-64.013 4.716-83.874zM41.501 129.307c-11.329-24.744-13.848-43.943-7.095-54.061 6.475-9.701 21.261-9.945 25.639-9.789 15.641.559 40.69 15.104 56.421 26.473-.041 40.967-.499 118.145-.472 119.207-26.428-19.136-58.934-47.851-74.493-81.83zm388.12-.071c-15.517 33.889-48.045 62.625-74.491 81.789.026-1.049-.434-78.199-.474-119.164 15.731-11.369 40.78-25.916 56.422-26.471 4.377-.16 19.164.088 25.639 9.787 6.752 10.117 4.232 29.316-7.096 54.059z")

			//- tick / admin
			symbol#tick(viewBox="0 0 24 24")
				path(d="M16.972 6.251c-.967-.538-2.185-.188-2.72.777l-3.713 6.682-2.125-2.125c-.781-.781-2.047-.781-2.828 0-.781.781-.781 2.047 0 2.828l4 4c.378.379.888.587 1.414.587l.277-.02c.621-.087 1.166-.46 1.471-1.009l5-9c.537-.966.189-2.183-.776-2.72z")

			symbol#edit(viewBox="0 0 24 24")
				path(d="M12 21v-2.125l5.3-5.3l2.125 2.125l-5.3 5.3Zm-9-5v-2h7v2Zm17.125-1L18 12.875l.725-.725q.275-.275.7-.275q.425 0 .7.275l.725.725q.275.275.275.7q0 .425-.275.7ZM3 12v-2h11v2Zm0-4V6h11v2Z")

			//- https://www.flaticon.com/free-icon/fire_7235425
			symbol#cals(viewBox="0 0 24 24")
				path(d="M13.5.669983s.74 2.649997.74 4.799997c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.50998 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.60998 17.41 3.79998 13.5.669983zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z")

			symbol#fav(viewBox="0 0 24 24")
				path(d="m12.9788315 3.12270196 2.2300028 4.47103174c.1608198.32525436.4745543.55159146.838481.6049043l4.9952061.72763849c.2936688.04118974.5585312.19569385.7359815.42932541.1774504.23363156.2528588.52712884.2095397.8155501-.0345663.23905766-.1472702.46059203-.3211204.63120448L18.0453978 14.309048c-.2652453.2479126-.3859093.6102725-.3211204.9643402l.8920011 4.9356684c.0985153.5904556-.2954262 1.151855-.8920011 1.2711757-.2441477.0383452-.4943694-.0016171-.7136009-.1139675l-4.4600055-2.3231832c-.3302921-.166953-.72226921-.166953-1.0525613 0l-4.46000549 2.3231832c-.5493716.2921768-1.23571404.0921654-1.53424189-.4471032-.11311546-.2158543-.15371251-.4613892-.11596014-.7013383l.89200109-4.9356684c.06478888-.3540676-.05587513-.7164275-.32112039-.9643401l-3.62152446-3.50669159c-.21246133-.20593028-.3320703-.48696588-.3320703-.78023888 0-.29327299.11960897-.57430859.3320703-.78023887.17115703-.17415632.39778548-.28552335.64224079-.31560224l4.99520615-.7276385c.36392667-.05331283.67766121-.27964993.83848103-.60490429l2.14972265-4.47979847c.18799415-.38212514.58508917-.62176542 1.01688125-.61367102h.13380021c.3757455.04684745.7015994.2779589.865241.61367102Z")

			symbol#open(viewBox="0 0 24 24")
				path(d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z")

			symbol#female(viewBox="0 0 24 24")
				path(d="M11 15.934A7.501 7.501 0 0 1 12 1a7.5 7.5 0 0 1 1 14.934V18h5v2h-5v4h-2v-4H6v-2h5v-2.066zM12 14a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z")

			symbol#male(viewBox="0 0 24 24")
				path(d="M15.05 8.537L18.585 5H14V3h8v8h-2V6.414l-3.537 3.537a7.5 7.5 0 1 1-1.414-1.414zM10.5 20a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z")

			symbol#warning(viewBox="0 0 24 24")
				path(stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8" d="M12 7.75V13M21.08 8.58v6.84c0 1.12-.6 2.16-1.57 2.73l-5.94 3.43c-.97.56-2.17.56-3.15 0l-5.94-3.43a3.15 3.15 0 0 1-1.57-2.73V8.58c0-1.12.6-2.16 1.57-2.73l5.94-3.43c.97-.56 2.17-.56 3.15 0l5.94 3.43c.97.57 1.57 1.6 1.57 2.73Z")
				path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 16.2v.1")

			symbol#weight(viewBox="0 0 24 24")
				path(d="M10 22h4c5 0 7-2 7-7V9c0-5-2-7-7-7h-4C5 2 3 4 3 9v6c0 5 2 7 7 7Z")
				path(d="M17.25 8.29a7.905 7.905 0 0 0-10.5 0l2.18 3.5a4.613 4.613 0 0 1 6.14 0l2.18-3.5Z")

			symbol#remove(viewBox="0 0 489.425 489.425")
				path(d="M122.825 394.663c17.8 19.4 43.2 30.6 69.5 30.6h216.9c44.2 0 80.2-36 80.2-80.2v-200.7c0-44.2-36-80.2-80.2-80.2h-216.9c-26.4 0-51.7 11.1-69.5 30.6l-111.8 121.7c-14.7 16.1-14.7 40.3 0 56.4l111.8 121.8zm-93.7-161.6 111.8-121.8c13.2-14.4 32-22.6 51.5-22.6h216.9c30.7 0 55.7 25 55.7 55.7v200.6c0 30.7-25 55.7-55.7 55.7h-217c-19.5 0-38.3-8.2-51.5-22.6l-111.7-121.8c-6.1-6.6-6.1-16.6 0-23.2z")
				path(d="M225.425 309.763c2.4 2.4 5.5 3.6 8.7 3.6s6.3-1.2 8.7-3.6l47.8-47.8 47.8 47.8c2.4 2.4 5.5 3.6 8.7 3.6s6.3-1.2 8.7-3.6c4.8-4.8 4.8-12.5 0-17.3l-47.9-47.8 47.8-47.8c4.8-4.8 4.8-12.5 0-17.3s-12.5-4.8-17.3 0l-47.8 47.8-47.8-47.8c-4.8-4.8-12.5-4.8-17.3 0s-4.8 12.5 0 17.3l47.8 47.8-47.8 47.8c-4.8 4.8-4.8 12.499-.1 17.3z")

			symbol#more(viewBox="0 0 16 16")
				path(d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z")

			symbol#flag(viewBox="0 0 24 24")
				path(d="M5.75 1a.75.75 0 0 1 .75.75V3.6l1.72-.344a8.677 8.677 0 0 1 4.925.452l.204.081a7.999 7.999 0 0 0 4.91.334 1.2 1.2 0 0 1 1.491 1.164v7.367c0 .644-.439 1.206-1.064 1.362l-.214.053a8.677 8.677 0 0 1-5.327-.361 8.676 8.676 0 0 0-4.924-.452L6.5 13.6v8.15a.75.75 0 0 1-1.5 0v-20A.75.75 0 0 1 5.75 1Z")

			symbol#lock(viewBox="0 0 24 24")
				path(fill-rule="evenodd" d="M8 10V7a4 4 0 1 1 8 0v3h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h1Zm2-3a2 2 0 1 1 4 0v3h-4V7Zm2 6a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z")

.contain.edit.playeredit
	form.wrap(autocomplete="off")

		if(!isUserEmpty)
			.label.playerid.disabled
				.k User ID
				input(name="playerid", type="text", value= user.id, disabled)

		.label.name
			.k Name
			input(name="name", type="text", required, maxlength="12", minlength="1", value= user.name)

		.label.region
			.k Region

			label
				input(type="radio", name="region" value="eu", checked= 1 === user.region)
				div
					svg
						use(xlink:href="#tick")
					span EU

			label
				input(type="radio", name="region", value="na", checked= 2 === user.region)
				div
					svg
						use(xlink:href="#tick")
					span NA

			label
				input(type="radio", name="region", value="oce", checked= 3 === user.region)
				div
					svg
						use(xlink:href="#tick")
					span OCE

		.label.country
			.k Country
			input(name="country", type="text", required, maxlength="6", minlength="2", value= user.country)

		.label.tpid
			.k TPID
			input(name="tpid", type="text", required, maxlength="30", minlength="8", value= user.tpid)

		.buttons
			if(!isUserEmpty)
				button.delete(type="button", disabled=isUserEmpty) Delete

			button.save(disabled=isUserEmpty) Save

		.delete-confirm
			.pane
				h5 Are you sure you want to delete this player?
				button.no
					span Nope
				button.yes Yes, delete them

		.success Saved
