extends layouts/_layout.pug

block title
	title Player Comparison

block content
	main#main
		header
			h2 Player Comparison
			p Normalised to an 8 minute game

		section.player-comparison__select-wrapper
			.player-comparison__select
				.form-group
					select#select-players(name="state[]" multiple placeholder="Select players" autocomplete="true")
						each v, k in players
							option= v.name

					button.button-secondary Compare



			.player-comparison__accordion.compare-results(style="display:none")
				.player-comparison__stats.name-area
					.row
						.label
						.player-value.player1 123
						.player-value.player2 asdasd
						.player-value.player3 asdasdad
						.player-value.player4 asd
				ul
					// overview
					li.player-comparison__group.active
						.player-comparison__group-header
							h3.player-comparison__group-title Overview
								span.icn

						.player-comparison__stats
							.row.games
								.label Games
								.player-value 12
								.player-value 12
								.player-value 12
								.player-value 12
							.row.minutes
								.label Minutes
							.row.winrate
								.label Win Rate
							.row.elo
								.label Average ELO Game

					// general
					// li.player-comparison__group.active
					// 	.player-comparison__group-header
					// 		h3.player-comparison__group-title General
					// 			span.icn

					// 	.player-comparison__stats
					// 		.row.teampossession
					// 			.label Team Possession
					// 		.row.teamcapfor
					// 			.label Team Cap For
					// 		.row.teamcapagainst
					// 			.label Team Cap Against
					// 		.row.tags
					// 			.label Tags
					// 		.row.pops
					// 			.label Pops
					// 		.row.pups
					// 			.label Pups
