extends layouts/_layout.pug

block title
	title Player Comparison

block content
	main#main
		header
			h2 Player Comparison
			p Normalised to an 8 minute game

		section.player-comparison__select-wrapper
			.player-comparison__select
				.form-group
					select#select-players(name="state[]" multiple placeholder="Select players" autocomplete="true")
						each v, k in players
							option= v.name

					button.button-secondary Compare


			.player-comparison__accordion.compare-results(style="display:none")
				.player-comparison__stats.name-area
					.row.player
						.label
				ul
					// overview
					li.player-comparison__group.active
						.player-comparison__group-header
							h3.player-comparison__group-title Overview
								span.icn

						.player-comparison__stats
							.row.games
								.label Games
							.row.elo
								.label.sub Average ELO
							.row.time
								.label.sub Time
							.row.winrate
								.label Win Rate
							.row.overtimewinrate
								.label.sub Overtime Win Rate


					// Offense
					li.player-comparison__group.active
						.player-comparison__group-header
							h3.player-comparison__group-title Offense
								span.icn

						.player-comparison__stats
							.row.caps
								.label Caps
							.row.capfromteamprevent
								.label.sub Whilst team prevent
							.row.hold
								.label Hold
							.row.holdwhilstopponentsdont
								.label.sub Whilst opponents dont hold
							.row.holdwhilstteamprevent
								.label.sub Whilst team prevent
							.row.longhold
								.label Long Holds
							.row.longholdcaprate
								.label.sub Leads to a cap
							.row.grabs
								.label Grabs
							.row.grabswhilstopponentsprevent
								.label.sub Whilst opponents prevent
							.row.grabswhilstopponentshold
								.label.sub Whilst opponents hold
							.row.grabswhilstopponentsholdlong
								.label.sub Whilst opponents long hold
							.row.drops
								.label Drops
							.row.flaccids
								.label.sub Flaccids
							.row.dropwithin2tilesfrommybase
								.label.sub Within 2 tiles from capping
							.row.dropwithin5tilesfrommybase
								.label.sub Within 5 tiles from capping
							.row.dropwithinmyhalf
								.label.sub Within My Half
							.row.handoffs
								.label Handoffs
							.row.handoffpickups
								.label.sub Pickups
							.row.handoffdrops
								.label.sub Drops
							.row.pops
								.label Pops


					// Defense
					li.player-comparison__group.active
						.player-comparison__group-header
							h3.player-comparison__group-title Defense
								span.icn

						.player-comparison__stats
							.row.flaginbase
								.label Flag In Base
							.row.concedes
								.label Concedes
							.row.prevent
								.label Prevent
							.row.capfrommyprevent
								.label.sub Team Caps
							.row.preventwhilstteamhold
								.label.sub Whilst team hold
							.row.opponentsgrabwhilstmyprevent
								.label.sub Opponent Grabs
							.row.returns
								.label Returns
							.row.quickreturns
								.label.sub Quick
							.row.keyreturns
								.label.sub Key
							.row.returnwithinmyhalf
								.label.sub Within My Half
							.row.resets
								.label Resets
							.row.resetfrommyreturn
								.label.sub From my return
							.row.returnfrommyprevent
								.label.sub From my prevent
							.row.tags
								.label Tags


					// Offense-Defense
					li.player-comparison__group
						.player-comparison__group-header
							h3.player-comparison__group-title Offense-Defense
								span.icn

						.player-comparison__stats
							.row.kisses
								.label Kisses
							.row.goodkissrate
								.label.sub Good Kiss Rate
							.row.saves
								.label Saves


					// Powerups
					li.player-comparison__group
						.player-comparison__group-header
							h3.player-comparison__group-title Powerups
								span.icn

						.player-comparison__stats
							.row.pups
								.label Pups
							.row.teampups
								.label Team Pups
							.row.mysharepups
								.label.sub My share
							.row.teampupdiff
								.label.sub Versus opponent total
							.row.tagpros
								.label Tagpros
