extends layouts/_layout.pug

block title
	title Player Comparison

block content
	main#main
		header
			h2 Player Comparison
			p Normalised to an 8 minute game

		section.player-comparison__select-wrapper
			.player-comparison__select
				.form-group
					select#select-players(name="state[]" multiple placeholder="Select players" autocomplete="true")
						each v, k in players
							option= v.name

					button.button-secondary Compare



			.player-comparison__accordion.compare-results(style="display:none")
				.player-comparison__stats.name-area
					.row.player
						.label
				ul
					// overview
					li.player-comparison__group.active
						.player-comparison__group-header
							h3.player-comparison__group-title Overview
								span.icn

						.player-comparison__stats
							.row.games
								.label Games
							.row.time
								.label Time
							.row.winrate
								.label Win Rate
							.row.elo
								.label Average ELO Game
							.row.mercies
								.label Mercies
							.row.cleansheets
								.label Clean Sheets
							.row.overtimes
								.label Overtimes
							.row.overtimewinrate
								.label Overtime Win Rate

					// attacking
					li.player-comparison__group.active
						.player-comparison__group-header
							h3.player-comparison__group-title Attacking
								span.icn

						.player-comparison__stats

							.row.caps
								.label Caps

							.row.hold
								.label Hold


							.row.grabs
								.label Grabs
							.row.grabswhilstopponentsprevent
								.label Grabs Whilst Opponents Prevent
							.row.grabswhilstopponentshold
								.label Grabs Whilst Opponents Hold

							.row.drops
								.label Drops
							.row.dropwithin2tilesfrommybase
								.label Drops Within 2 Tiles From Capping
							.row.dropwithin5tilesfrommybase
								.label Drops Within 5 Tiles From Capping

							.row.flaccids
								.label Flaccids

					// general
					li.player-comparison__group.active
						.player-comparison__group-header
							h3.player-comparison__group-title Attacking
								span.icn

						.player-comparison__stats
							.row.teampossession
								.label Team Possession
							.row.teamcapfor
								.label Team Cap For
							.row.teamcapagainst
								.label Team Cap Against
