include template/head.pug

.nav-bar-secondary
	.wrap
		.breadcrumb
			// a(href="#") Neutral Flag
			// .crumb ›
			// a(href="#") Season 1
			// .crumb ›
			// .current= nav.secondary

		h1= title

		.nav-bar
			a(href=config.path class=(nav.secondary === 'players' ? 'active' : '')) Players
			a(href=config.path + "/teams" class=(nav.secondary === 'teams' ? 'active' : '')) Teams
			a(href=config.path + "/seasons" class=(nav.secondary === 'seasons' ? 'active' : '')) Seasons
			// a(href="/superleague/teams" class=(nav.secondary === 'teams' ? 'active' : '')) Teams
			// a(href="/superleague/table" class=(nav.secondary === 'table' ? 'active' : '')) Table
			// a(href="/superleague/leaders" class=(nav.secondary === 'leaders' ? 'active' : '')) Leaders
			// a(href="/superleague/records" class=(nav.secondary === 'records' ? 'active' : '')) Records
			// a(href="/superleague/stats" class=(nav.secondary === 'stats' ? 'active' : '')) Stats

.contain
	.wrap

		// .table
		// 	.row.head
		// 		.item.position
		// 		.item.logo
		// 		.item.acronym
		// 		.item.team
		// 		.item.won GP
		// 		.item.gap
		// 		.item.won W
		// 		.item.gap
		// 		.item.tied T
		// 		.item.gap
		// 		.item.lost L
		// 		.item.winrate Win Rate
		// 		.item.capsfor CF
		// 		.item.gap
		// 		.item.capsagainst CA
		// 		.item.gap
		// 		.item.capdifference CD
		// 		.item.form FORM
		// 		.item.points POINTS

		// 	- let i = 0
		// 	each n, key in table
		// 		- i++

		// 		.row.entry(
		// 			data-position= i
		// 			style="--teamcolor: " + n.color + "; --teamglow: " + n.color + "80"
		// 		)
		// 			.item.position= i
		// 			.item.logo
		// 				img(
		// 					src= n.logo
		// 				)
		// 			.item.acronym= n.acronym
		// 			.item.team= n.name

		// 			.item.games= (n.data.won + n.data.drawn + n.data.lost)
		// 			.item.gap -
		// 			.item.won= n.data.won
		// 			.item.gap -
		// 			.item.tied= n.data.drawn
		// 			.item.gap -
		// 			.item.lost= n.data.lost

		// 			.item.winrate
		// 				.val= n.data.winrate +'%'
		// 				if(n.data.winrate >= 50)
		// 					.bar.good
		// 						.inner(style="width: " + n.data.winrate + "%")
		// 				else
		// 					.bar.bad
		// 						.inner(style="width: " + n.data.winrate + "%")

		// 			.item.capsfor= n.data.cf
		// 			.item.gap -
		// 			.item.capsagainst= n.data.ca
		// 			.item.gap -
		// 			.item.capdifference= n.data.cd

		// 			.item.form
		// 				each r, k in n.form
		// 					.result
		// 						a(
		// 							href= 'https://tagpro.eu/?match=' + r.euid
		// 							class= r.result
		// 						)

		// 			.item.points= n.pts

include template/foot.pug
