include template/head.pug

.contain.misc-contain
	.wrap

		.rules
			h2= config.name

			ul
				li All games must be 7 minutes
				li No overtime
				li No halves
				li win = 3 points. draw = 1 point

include template/foot.pug
