// include template/head.pug

.nav-bar-secondary
	.wrap
		h1 Rules

		// .nav-bar
		// 	a(href=config.path class=(nav.secondary === 'players' ? 'active' : '')) Players
		// 	a(href=config.path + "/teams" class=(nav.secondary === 'teams' ? 'active' : '')) Teams
		// 	a(href=config.path + "/seasons" class=(nav.secondary === 'seasons' ? 'active' : '')) Seasons
.contain
	.wrap

		h2 Rules

		ul
			li All games must be 7 minutes
			li No overtime
			li No halves
			li win = 3 points. draw = 1 point
			li asd

include template/foot.pug
