doctype html
html
	head
		title= config.title
		meta(charset='utf-8')
		link(rel='stylesheet', href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap")
		link(rel='stylesheet', href='/signup.css')
		link(rel='icon', href='/favicon.svg', type='image/svg+xml')
		script(src='/signup.js', async)

	body
		.background
			img(src='https://i.imgur.com/76Nzkgm.png')._1
			img(src='https://i.imgur.com/1ZWMzQn.png')._2
			img(src='https://i.imgur.com/5NgLxbF.png')._3
			img(src='https://i.imgur.com/APTMlFc.png')._4

		.signup

			.verification.hide
				h2 Verification Required
				h5 Step <span class="step"></span> of 2

				img(src="https://b.thumbs.redditmedia.com/Okql9W1FSZ86cmZ01IF5Nqvii8fQqY_G0u094ocSkhM.png")

				p Hi <span class="name"></span>. Please verify your signup by switching your Tagpro flair to: <span class="flair">No Flair</span>

				p.discord.hide You are required to join the <a href="https://discord.com/invite/uJxUcSR">join the Discord</a>..

				button
					.enabled Done. Verify me!
					.disabled.spinner
						svg
							use(xlink:href="#loader")

			.new
				.left
					h1= config.title
					p.details ELTP's 23rd season is scheduled to span <span>8 weeks</span>, featuring games evenly distributed between <span>London</span> and <span>New York</span> servers. Times are set at <span>21:00 BST</span> / <span>15:00 EST</span>.

					h2 Paste in your Profile URL
					.form
						input(type="text" placeholder="https://tagpro.koalabeast.com/profile/52fb8f2e2c955cb762a572fd" required pattern="http(s?)(:\/\/)((www.)?)(([^.]+)\.)?([a-zA-z0-9\-_]+)(.com|.net|.gov|.org|.in)(\/[^\s]*)?")

					.info You don't need to be the best player. You do need to be committed. It's fine if you're unable to make all dates, just let me know in advance.

				.right
					table
						thead
							tr
								th
								th Majors
								th Minors
						tbody
							tr
								td Draft
								td 24 Mar
								td 25 Mar

							tr
								td Week 1
								td 31 Mar
								td 1 Apr

							tr
								td Week 2
								td 7 Apr
								td 8 Apr

							tr
								td Week 3
								td 14 Apr
								td 15 Apr

							tr
								td Week 4
								td 21 Apr
								td 22 Apr

							tr
								td Week 5
								td 28 Apr
								td 29 Apr

							tr
								td Preliminary
								td 5 May
								td 6 May

							tr
								td Semi-Final
								td 12 May
								td 13 May

							tr
								td Final
								td 19 May
								td 20 May

		svg.hide
			defs
				symbol#loader(viewBox="0 0 50 50")
					circle(cx="25", cy="25", r="20")
