html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
}
article,
aside,
figcaption,
figure,
footer,
header,
menu,
section {
  display: block;
}
blockquote,
q {
/* browsers use English quotation marks which may not be appropriate for every language */
/* see https://en.wikipedia.org/wiki/Quotation_mark#Summary_table */
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
/* default to compact tables */
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
/* intuitive sizing */
}
*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
/* allow inheritable overrides */
}
[hidden] {
  display: none !important;
/* enforce semantics */
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
html {
  font-size: initial;
}
img,
svg {
  max-width: 100%;
  height: auto;
}
svg {
  max-height: 100%;
}
html {
  scroll-behavior: smooth;
}
.container {
  width: 100%;
}
img {
  display: block;
  min-height: 1px;
  min-width: 1px;
}
img:not([src]) {
  visibility: hidden;
}
.desktop-show {
  display: none;
}
.center {
  text-align: center;
}
img.center {
  margin-left: auto;
  margin-right: auto;
}
.text-right {
  text-align: right;
}
.align-center {
  margin: 0 auto;
}
.noscroll {
  overflow: hidden;
}
a,
a:hover,
a:focus,
.a:active {
  text-decoration: none;
  outline: none !important;
}
nav ul,
.ul-reset,
.check-list,
nav li,
form .optionset,
form .optionset li,
.drop-down_list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ul-inline {
  overflow: hidden;
}
.ul-inline li {
  display: inline-block;
}
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.d-flex > * {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.j-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
table td,
table th {
  padding: 0.5rem;
  vertical-align: top;
}
table th {
  border-bottom: 1px solid #ccc;
}
table th p {
  margin-bottom: 0;
}
.needed {
  background: #ff0;
}
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}
input[type=text],
input[type=number],
input[type=date],
input[type=password],
input[type=email],
textarea,
.dropdown,
select {
  border: 1px solid #ccc;
  color: #333;
  background: #fff;
  font-size: 1rem;
  padding: 0.8em;
  vertical-align: middle;
  border-radius: 2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  outline: 0;
}
.form_checkbox-wrapper {
  display: block;
  position: static;
}
.form_checkbox-wrapper li {
  float: left;
  margin-bottom: 10px;
  margin-right: 2%;
  position: relative;
  width: 48%;
}
.form_checkbox-wrapper li input {
  position: absolute;
  top: 5px;
}
.form_checkbox-wrapper li label {
  line-height: 1.2;
  padding-left: 17px;
}
/* plugins */
/* nouislider - 14.6.4 - 3/18/2021 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.noUi-target {
  position: relative;
}
.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.noUi-connects {
  overflow: hidden;
  z-index: 0;
}
.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  -webkit-transform-style: flat;
          transform-style: flat;
}
.noUi-connect {
  height: 100%;
  width: 100%;
}
.noUi-origin {
  height: 10%;
  width: 10%;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}
.noUi-vertical .noUi-origin {
  width: 0;
}
.noUi-horizontal .noUi-origin {
  height: 0;
}
.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.noUi-touch-area {
  height: 100%;
  width: 100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
.noUi-horizontal {
  height: 18px;
}
.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}
.noUi-target {
  background: #fafafa;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  -webkit-box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbb;
          box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbb;
}
.noUi-connects {
  border-radius: 3px;
}
.noUi-connect {
  background: #3fb8af;
}
.noUi-draggable {
  cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}
.noUi-handle {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  cursor: default;
  -webkit-box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
          box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
}
.noUi-active {
  -webkit-box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb;
          box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb;
}
.noUi-handle:after,
.noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #e8e7e6;
  left: 14px;
  top: 6px;
}
.noUi-handle:after {
  left: 17px;
}
.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}
.noUi-vertical .noUi-handle:after {
  top: 17px;
}
[disabled] .noUi-connect {
  background: #b8b8b8;
}
[disabled] .noUi-handle,
[disabled].noUi-handle,
[disabled].noUi-target {
  cursor: not-allowed;
}
.noUi-pips,
.noUi-pips * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.noUi-pips {
  position: absolute;
  color: #999;
}
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}
.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}
.noUi-marker {
  position: absolute;
  background: #ccc;
}
.noUi-marker-sub {
  background: #aaa;
}
.noUi-marker-large {
  background: #aaa;
}
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}
.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}
.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}
.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}
.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}
.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}
.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}
.noUi-horizontal .noUi-origin>.noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}
.noUi-vertical .noUi-origin>.noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}
/* custom variables */
label {
  font-weight: 600;
}
.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}
.form-group {
  margin-bottom: 1.7rem;
  position: relative;
}
.form-group:not(.form-group-checkbox):not(.form-group-radio) > label {
  width: 100%;
}
.form-group .button {
  margin-bottom: 0;
}
:root {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  color: #242424;
}
h1 {
  margin-bottom: 1.9em;
  color: #242424;
  margin: 0;
  font-size: 1.9em;
  font-weight: 700;
}
h2 {
  font-size: 1.45rem;
  margin: 0;
  font-weight: 700;
}
h3 {
  font-size: 1.2rem;
  margin-bottom: 1em;
  font-weight: 700;
}
h4 {
  font-size: 1rem;
  margin-bottom: 1em;
  font-weight: bold;
}
p {
  margin-bottom: 1.2em;
  line-height: 1.6;
}
a {
  color: #242424;
}
a:hover,
a:focus {
  text-decoration: none;
}
a:focus {
  -webkit-box-shadow: 0 0 1px #222;
          box-shadow: 0 0 1px #222;
}
::-moz-selection {
  background-color: #ff2882;
  color: #fff;
}
::selection {
  background-color: #ff2882;
  color: #fff;
}
input[type='text'],
input[type='number'],
input[type='date'],
input[type='password'],
input[type='email'],
textarea,
.dropdown,
select {
  width: 100%;
  font-family: 'Nunito', sans-serif;
  border: none;
  background-color: #37003c;
  color: #242424;
  border-radius: 7px;
  padding: 0.8em 0.8em;
  max-width: 295px;
}
input[type='text']:focus,
input[type='number']:focus,
input[type='date']:focus,
input[type='password']:focus,
input[type='email']:focus,
textarea:focus,
.dropdown:focus,
select:focus {
  -webkit-box-shadow: inset 0 0 1px 2px #20a8d2;
          box-shadow: inset 0 0 1px 2px #20a8d2;
  outline: 0;
  color: #fff;
}
input[type='text'].error,
input[type='number'].error,
input[type='date'].error,
input[type='password'].error,
input[type='email'].error,
textarea.error,
.dropdown.error,
select.error,
input[type='text']:invalid,
input[type='number']:invalid,
input[type='date']:invalid,
input[type='password']:invalid,
input[type='email']:invalid,
textarea:invalid,
.dropdown:invalid,
select:invalid {
  -webkit-box-shadow: inset 0 0 1px 2px #eb5757;
          box-shadow: inset 0 0 1px 2px #eb5757;
}
input[type='text'].valid,
input[type='number'].valid,
input[type='date'].valid,
input[type='password'].valid,
input[type='email'].valid,
textarea.valid,
.dropdown.valid,
select.valid {
  -webkit-box-shadow: inset 0 0 1px 2px #6aec6a;
          box-shadow: inset 0 0 1px 2px #6aec6a;
}
input[type='text']::-webkit-input-placeholder, input[type='number']::-webkit-input-placeholder, input[type='date']::-webkit-input-placeholder, input[type='password']::-webkit-input-placeholder, input[type='email']::-webkit-input-placeholder, textarea::-webkit-input-placeholder, .dropdown::-webkit-input-placeholder, select::-webkit-input-placeholder {
  font-style: italic;
  color: $placeholder-color;
}
input[type='text']::-moz-placeholder, input[type='number']::-moz-placeholder, input[type='date']::-moz-placeholder, input[type='password']::-moz-placeholder, input[type='email']::-moz-placeholder, textarea::-moz-placeholder, .dropdown::-moz-placeholder, select::-moz-placeholder {
  font-style: italic;
  color: $placeholder-color;
}
input[type='text']:-ms-input-placeholder, input[type='number']:-ms-input-placeholder, input[type='date']:-ms-input-placeholder, input[type='password']:-ms-input-placeholder, input[type='email']:-ms-input-placeholder, textarea:-ms-input-placeholder, .dropdown:-ms-input-placeholder, select:-ms-input-placeholder {
  font-style: italic;
  color: $placeholder-color;
}
input[type='text']::-ms-input-placeholder, input[type='number']::-ms-input-placeholder, input[type='date']::-ms-input-placeholder, input[type='password']::-ms-input-placeholder, input[type='email']::-ms-input-placeholder, textarea::-ms-input-placeholder, .dropdown::-ms-input-placeholder, select::-ms-input-placeholder {
  font-style: italic;
  color: $placeholder-color;
}
input[type='text']::placeholder,
input[type='number']::placeholder,
input[type='date']::placeholder,
input[type='password']::placeholder,
input[type='email']::placeholder,
textarea::placeholder,
.dropdown::placeholder,
select::placeholder {
  font-style: italic;
  color: $placeholder-color;
}
input[type='text']:-moz-read-only:not(select), input[type='number']:-moz-read-only:not(select), input[type='date']:-moz-read-only:not(select), input[type='password']:-moz-read-only:not(select), input[type='email']:-moz-read-only:not(select), textarea:-moz-read-only:not(select), .dropdown:-moz-read-only:not(select), select:-moz-read-only:not(select) {
  background-color: #1c203f;
  cursor: no-drop;
}
input[type='text']:read-only:not(select),
input[type='number']:read-only:not(select),
input[type='date']:read-only:not(select),
input[type='password']:read-only:not(select),
input[type='email']:read-only:not(select),
textarea:read-only:not(select),
.dropdown:read-only:not(select),
select:read-only:not(select) {
  background-color: #1c203f;
  cursor: no-drop;
}
input[type='text']:-moz-read-only:not(select):focus, input[type='number']:-moz-read-only:not(select):focus, input[type='date']:-moz-read-only:not(select):focus, input[type='password']:-moz-read-only:not(select):focus, input[type='email']:-moz-read-only:not(select):focus, textarea:-moz-read-only:not(select):focus, .dropdown:-moz-read-only:not(select):focus, select:-moz-read-only:not(select):focus {
  box-shadow: none;
  color: #242424;
}
input[type='text']:read-only:not(select):focus,
input[type='number']:read-only:not(select):focus,
input[type='date']:read-only:not(select):focus,
input[type='password']:read-only:not(select):focus,
input[type='email']:read-only:not(select):focus,
textarea:read-only:not(select):focus,
.dropdown:read-only:not(select):focus,
select:read-only:not(select):focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #242424;
}
input[type='text']::-webkit-calendar-picker-indicator,
input[type='number']::-webkit-calendar-picker-indicator,
input[type='date']::-webkit-calendar-picker-indicator,
input[type='password']::-webkit-calendar-picker-indicator,
input[type='email']::-webkit-calendar-picker-indicator,
textarea::-webkit-calendar-picker-indicator,
.dropdown::-webkit-calendar-picker-indicator,
select::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
}
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-indent: 0.1;
  text-overflow: '';
}
select::-ms-expand {
  display: none;
}
.dropdown,
select {
  padding: 0.8em 0.8em;
  padding-right: 30px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='451.847' height='451.847'%3E%3Cpath style='fill:%237F84B2' d='M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z'/%3E%3C/svg%3E");
  background-size: 14px;
  background-position: calc(100% - 14px) calc(100% - 48%);
  background-repeat: no-repeat;
}
.dropdown option,
select option {
  padding: 0.8em 0.8em 0;
}
label.error {
  color: #420e0e;
  font-weight: normal;
  padding: 0.5em 0;
}
form h2 {
  font-size: 1.2rem;
  margin-bottom: 2em;
}
.message {
  padding: 0.2em 0.5em;
  display: inline-block;
}
.message.success {
  color: #fff;
  background: #4caf50;
}
.message.error {
  color: #fbfbfb;
  background: #d75350;
}
input + .error,
textarea + .error,
select + .error {
  position: relative;
  margin-top: 0.5rem;
}
input + .error:before,
textarea + .error:before,
select + .error:before {
  content: '';
  display: block;
  background: #d75350;
  position: absolute;
  top: -5px;
  left: 10px;
  height: 10px;
  width: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.form_checkbox-wrapper + .form_checkbox-wrapper {
  margin-left: 3rem;
}
.form_checkbox-wrapper input[type="checkbox"] {
  opacity: 0;
  display: none;
}
.form_checkbox-wrapper label {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 2.7em;
  font-weight: 400;
/*Outer box of the fake checkbox*/
/*Checkmark of the fake checkbox*/
}
.form_checkbox-wrapper label::before,
.form_checkbox-wrapper label::after {
  position: absolute;
  content: "";
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0px;
}
.form_checkbox-wrapper label:before {
  height: 1.7em;
  width: 1.7em;
  background-color: rgba(255,40,130,0.2);
  border-radius: 50%;
}
.form_checkbox-wrapper label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.91668 7.33891L1.30972 4.73195L0.190308 5.85137L3.91668 9.57774L11.6014 1.89304L10.482 0.773621L3.91668 7.33891Z' fill='white'/%3E%3C/svg%3E");
  height: 1.7em;
  width: 1.7em;
  background-repeat: no-repeat;
  background-position: center;
}
.form_checkbox-wrapper input[type="checkbox"]:checked + label {
  font-weight: 700;
}
.form_checkbox-wrapper input[type="checkbox"] + label::after {
  content: none;
}
.form_checkbox-wrapper input[type="checkbox"]:checked + label::after {
  content: "";
}
.form_checkbox-wrapper input[type="checkbox"]:focus + label::before {
  outline: #37003c auto 5px;
}
.form_checkbox-wrapper:hover label::before {
  background: rgba(255,40,130,0.4);
  outline: 0;
}
.form_checkbox-wrapper input:checked + label::before {
  background-color: #ff2882;
}
.button,
.button-secondary,
.button-negative,
.button-search,
.button-text {
  border: 2px solid transparent;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
}
.button:disabled,
.button-secondary:disabled,
.button-negative:disabled {
  background-color: #c2c5c4;
  color: #fff;
  cursor: default;
}
.button:disabled:hover,
.button-secondary:disabled:hover,
.button-negative:disabled:hover {
  background-color: #989898;
  color: #fff;
}
.button {
  background-color: #37003c;
  border-radius: 44px;
  color: #fff;
  padding: 0.6em 1.4em;
  min-width: 4rem;
  font-size: 0.9rem;
  text-transform: initial;
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.button:hover,
.button:focus {
  background-color: #ff2882;
  color: #fff;
  outline: none;
}
.button:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-transform: scale(10, 10);
          transform: scale(10, 10);
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 1s;
  transition: transform 0.5s, opacity 1s, -webkit-transform 0.5s;
}
.button:active:after {
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  opacity: 0.3;
  -webkit-transition: 0s;
  transition: 0s;
}
.button-secondary {
  background-color: #ff2882;
  border-radius: 44px;
  color: #fff;
  padding: 0.6em 1.4em;
  min-width: 4rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.button-secondary:hover,
.button-secondary:focus {
  background-color: #d2048b;
  color: #fff;
  outline: none;
}
.button-secondary:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-transform: scale(10, 10);
          transform: scale(10, 10);
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 1s;
  transition: transform 0.5s, opacity 1s, -webkit-transform 0.5s;
}
.button-secondary:active:after {
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  opacity: 0.3;
  -webkit-transition: 0s;
  transition: 0s;
}
.button-negative {
  background-color: transparent;
  border-radius: 44px;
  color: #e05b52;
  padding: 0.6em 1.4em;
  min-width: 4rem;
  font-size: 0.9rem;
  text-transform: initial;
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  border-color: #e05b52;
}
.button-negative:hover,
.button-negative:focus {
  background-color: transparent;
  color: #e05b52;
  outline: none;
}
.button-negative:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-transform: scale(10, 10);
          transform: scale(10, 10);
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 1s;
  transition: transform 0.5s, opacity 1s, -webkit-transform 0.5s;
}
.button-negative:active:after {
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  opacity: 0.3;
  -webkit-transition: 0s;
  transition: 0s;
}
.button-search {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.71 16.29L14.31 12.9C15.407 11.5025 16.0022 9.77666 16 8C16 6.41775 15.5308 4.87103 14.6518 3.55544C13.7727 2.23985 12.5233 1.21447 11.0615 0.608967C9.59966 0.00346625 7.99113 -0.15496 6.43928 0.153721C4.88743 0.462403 3.46197 1.22433 2.34315 2.34315C1.22433 3.46197 0.462403 4.88743 0.153721 6.43928C-0.15496 7.99113 0.00346625 9.59966 0.608967 11.0615C1.21447 12.5233 2.23985 13.7727 3.55544 14.6518C4.87103 15.5308 6.41775 16 8 16C9.77666 16.0022 11.5025 15.407 12.9 14.31L16.29 17.71C16.383 17.8037 16.4936 17.8781 16.6154 17.9289C16.7373 17.9797 16.868 18.0058 17 18.0058C17.132 18.0058 17.2627 17.9797 17.3846 17.9289C17.5064 17.8781 17.617 17.8037 17.71 17.71C17.8037 17.617 17.8781 17.5064 17.9289 17.3846C17.9797 17.2627 18.0058 17.132 18.0058 17C18.0058 16.868 17.9797 16.7373 17.9289 16.6154C17.8781 16.4936 17.8037 16.383 17.71 16.29ZM2 8C2 6.81332 2.3519 5.65328 3.01119 4.66658C3.67047 3.67989 4.60755 2.91085 5.7039 2.45673C6.80026 2.0026 8.00666 1.88378 9.17055 2.11529C10.3344 2.3468 11.4035 2.91825 12.2426 3.75736C13.0818 4.59648 13.6532 5.66558 13.8847 6.82946C14.1162 7.99335 13.9974 9.19975 13.5433 10.2961C13.0892 11.3925 12.3201 12.3295 11.3334 12.9888C10.3467 13.6481 9.18669 14 8 14C6.4087 14 4.88258 13.3679 3.75736 12.2426C2.63214 11.1174 2 9.5913 2 8Z' fill='%237F84B2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  padding: 0.7em;
  position: absolute;
  background-size: 19px;
  right: 0.5em;
  background-position: center;
  height: 3em;
  width: 3em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.button-search span {
  display: none;
}
.button + .button {
  margin-left: 2rem;
}
.button-text {
  color: #242424;
}
.button-text:hover,
.button-text:focus {
  color: #242424;
  outline: 2px dotted;
}
.stats-card-wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}
.stats-card {
  background: #fff;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
          box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
  border-radius: 3px;
  clear: both;
  font-size: 0.85rem;
  overflow: auto;
  margin-bottom: 0.5rem;
}
.stats-card header {
  padding: 0.8rem 10px 0.1em 10px;
  background: #9e4ce7;
}
.stats-card header h3 {
  font-weight: 700;
  position: relative;
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 0;
  padding-bottom: 0.3em;
}
.stats-card .top {
  background: -webkit-gradient(linear, left top, left bottom, from(#9e4ce7), to(#693a86));
  background: linear-gradient(180deg, #9e4ce7 0%, #693a86 100%);
  color: #fff;
  border-bottom: none;
}
.stats-card .top td {
  padding-top: 1em;
  padding-bottom: 1em;
}
.stats-card .top td:last-child {
  font-weight: 700;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.20834 19.7917C5.20834 18.6866 5.64732 17.6268 6.42873 16.8454C7.21013 16.064 8.26993 15.625 9.37503 15.625V14.5833C8.17443 14.5832 7.01074 14.1684 6.0807 13.4092C5.15066 12.65 4.51134 11.5929 4.27084 10.4167H3.125C2.2962 10.4167 1.50135 10.0874 0.9153 9.5014C0.32924 8.9153 0 8.1205 0 7.2917V2.08333H2.08334C2.88334 2.08333 3.61459 2.38438 4.16667 2.87917V0H15.625V2.87917C16.1973 2.36575 16.9394 2.08227 17.7083 2.08333H19.7916V7.2917C19.7916 8.1205 19.4624 8.9153 18.8764 9.5014C18.2903 10.0874 17.4954 10.4167 16.6666 10.4167H15.5208C15.2803 11.5929 14.641 12.65 13.7109 13.4092C12.7809 14.1684 11.6172 14.5832 10.4166 14.5833V15.625C11.5217 15.625 12.5815 16.064 13.3629 16.8454C14.1443 17.6268 14.5833 18.6866 14.5833 19.7917H5.20834ZM10.4166 16.6667H9.37503C8.72853 16.6665 8.09793 16.8667 7.56995 17.2398C7.04201 17.6129 6.64272 18.1405 6.42709 18.75H13.3646C13.1489 18.1405 12.7496 17.6129 12.2217 17.2398C11.6938 16.8667 11.0631 16.6665 10.4166 16.6667ZM14.5833 1.04167H5.20834V9.375C5.20834 10.4801 5.64732 11.5399 6.42873 12.3213C7.21013 13.1027 8.26993 13.5417 9.37503 13.5417H10.4166C11.5217 13.5417 12.5815 13.1027 13.3629 12.3213C14.1443 11.5399 14.5833 10.4801 14.5833 9.375V1.04167ZM18.75 7.2917V3.125H17.7083C17.1558 3.125 16.6259 3.34449 16.2352 3.73519C15.8445 4.1259 15.625 4.6558 15.625 5.20833V9.375H16.6666C17.2192 9.375 17.7491 9.1555 18.1398 8.7648C18.5305 8.3741 18.75 7.8442 18.75 7.2917ZM1.04167 7.2917C1.04167 7.8442 1.26116 8.3741 1.65186 8.7648C2.04257 9.1555 2.57247 9.375 3.125 9.375H4.16667V5.20833C4.16667 4.6558 3.94718 4.1259 3.55648 3.73519C3.16578 3.34449 2.63587 3.125 2.08334 3.125H1.04167V7.2917Z' fill='white'/%3E%3C/svg%3E");
  background-position: 86% 10px;
  background-repeat: no-repeat;
  background-size: 1.4rem;
}
.stats-card .top a {
  color: #fff;
}
.stats-card .top .pos {
  color: #fff;
  height: 30px;
  line-height: 30px;
}
.stats-card .rank {
  font-weight: 700;
}
.stats-card table th {
  padding-top: 1em;
  padding-bottom: 1em;
}
.stats-card table td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.stats-card footer {
  font-size: 0.9rem;
  text-align: right;
  padding: 1.2rem 1.4rem 1.2rem 0.8rem;
}
.stats-card footer a {
  color: #37003c;
  font-weight: 700;
  text-decoration: none;
}
.stats-card footer a .icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-1.96729e-07 4.99998C-2.02525e-07 4.86737 0.0526782 4.74019 0.146446 4.64643C0.240215 4.55266 0.367392 4.49998 0.5 4.49998L12.293 4.49998L9.146 1.35398C9.05211 1.26009 8.99937 1.13275 8.99937 0.999979C8.99937 0.867203 9.05211 0.739865 9.146 0.645979C9.23989 0.552092 9.36722 0.499347 9.5 0.499347C9.63277 0.499347 9.76011 0.552092 9.854 0.645978L13.854 4.64598C13.9006 4.69242 13.9375 4.7476 13.9627 4.80835C13.9879 4.86909 14.0009 4.93421 14.0009 4.99998C14.0009 5.06575 13.9879 5.13087 13.9627 5.19161C13.9375 5.25236 13.9006 5.30753 13.854 5.35398L9.854 9.35398C9.76011 9.44787 9.63278 9.50061 9.5 9.50061C9.36722 9.50061 9.23989 9.44787 9.146 9.35398C9.05211 9.26009 8.99937 9.13275 8.99937 8.99998C8.99937 8.8672 9.05211 8.73986 9.146 8.64598L12.293 5.49998L0.5 5.49998C0.367392 5.49998 0.240215 5.4473 0.146446 5.35353C0.0526782 5.25976 -1.90932e-07 5.13259 -1.96729e-07 4.99998Z' fill='%23ff2882'/%3E%3C/svg%3E");
  background-position: right center;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 0.6rem;
  position: relative;
  left: 0;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
  content: "";
  width: 14px;
  height: 10px;
}
.stats-card footer a:hover {
  color: #ff2882;
}
.stats-card footer a:hover .icon {
  left: 0.5em;
}
.table-sticky th {
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.06);
          box-shadow: 0 2px 0 0 rgba(0,0,0,0.06);
}
table {
  width: 100%;
}
table td {
  padding: 1em 0.8em;
}
table th {
  font-size: 0.9em;
  border: none;
  text-align: left;
  font-weight: 700;
  padding: 1em 0.5em;
  color: #6c6c6c;
  vertical-align: middle;
  background-color: #fbfbfb;
}
table th span {
  text-decoration: none;
  color: #6c6c6c;
  display: block;
}
table th.sort-asc span,
table th.sort-desc span {
  color: #242424;
}
table th.sort {
  cursor: pointer;
}
table th.sort:hover span {
  color: #242424;
}
table th.sort span:after {
  display: inline-block;
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  margin-left: 0.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: contain;
  background-repeat: no-repeat;
}
table th.sort.sort-asc span:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5625 7.9375L2.66719 9.04219L5.46875 6.24062V22H7.03125V6.24062L9.83281 9.04219L10.9375 7.9375L6.25 3.25L1.5625 7.9375Z' fill='%232F2F2F'/%3E%3Cpath d='M23.4686 20.375H12.5311V21.9375H23.4686V20.375Z' fill='%232F2F2F'/%3E%3Cpath d='M20.3436 15.6875H12.5311V17.25H20.3436V15.6875Z' fill='%23242424'/%3E%3Cpath d='M17.2186 11H12.5311V12.5625H17.2186V11Z' fill='%232F2F2F'/%3E%3C/svg%3E");
}
table th.sort.sort-desc span:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5625 17.1875L2.66719 16.0828L5.46875 18.8844V3.125H7.03125V18.8844L9.83281 16.0828L10.9375 17.1875L6.25 21.875L1.5625 17.1875Z' fill='%232F2F2F'/%3E%3Cpath d='M23.4686 6.25H12.5311V4.6875H23.4686V6.25Z' fill='%232F2F2F'/%3E%3Cpath d='M20.3436 10.9375H12.5311V9.375H20.3436V10.9375Z' fill='%23242424'/%3E%3Cpath d='M17.2186 15.625H12.5311V14.0625H17.2186V15.625Z' fill='%232F2F2F'/%3E%3C/svg%3E");
}
table tbody tr {
  border-bottom: 1px solid #e8e8e8;
}
table tbody tr:not(.top):hover td {
  background-color: #fef7ff;
}
table tbody td {
  vertical-align: bottom;
}
table .bold {
  font-weight: 700;
}
table .text-r {
  text-align: right;
}
table .text-c {
  text-align: center;
}
table .pos {
  display: block;
  color: rgba(6,6,6,0.43);
}
table .reorder-btn {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  border-radius: 5px;
}
table .reorder-btn.asc .icon-sort {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5625 7.9375L2.66719 9.04219L5.46875 6.24062V22H7.03125V6.24062L9.83281 9.04219L10.9375 7.9375L6.25 3.25L1.5625 7.9375Z' fill='%232F2F2F'/%3E%3Cpath d='M23.4686 20.375H12.5311V21.9375H23.4686V20.375Z' fill='%232F2F2F'/%3E%3Cpath d='M20.3436 15.6875H12.5311V17.25H20.3436V15.6875Z' fill='%232F2F2F'/%3E%3Cpath d='M17.2186 11H12.5311V12.5625H17.2186V11Z' fill='%232F2F2F'/%3E%3C/svg%3E");
}
table .reorder-btn.desc .icon-sort {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5625 17.1875L2.66719 16.0828L5.46875 18.8844V3.125H7.03125V18.8844L9.83281 16.0828L10.9375 17.1875L6.25 21.875L1.5625 17.1875Z' fill='%232F2F2F'/%3E%3Cpath d='M23.4686 6.25H12.5311V4.6875H23.4686V6.25Z' fill='%232F2F2F'/%3E%3Cpath d='M20.3436 10.9375H12.5311V9.375H20.3436V10.9375Z' fill='%232F2F2F'/%3E%3Cpath d='M17.2186 15.625H12.5311V14.0625H17.2186V15.625Z' fill='%232F2F2F'/%3E%3C/svg%3E");
}
table .reorder-btn:hover,
table .reorder-btn:focus {
  background-color: #e8e8e8;
}
table .icon-sort {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  content: "";
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
table .has-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
table .has-icon_icon {
  width: 30px;
  height: 20px;
  display: inline-block;
}
table .has-icon_label {
  margin-left: 1em;
}
.flag {
  width: 30px;
  height: 20px;
  background: url("img/flags-sprite.png") no-repeat;
}
.GB-ENG {
  background-position: -120px -140px;
}
.DE {
  background-position: -120px -120px;
}
.FR {
  background-position: -60px -140px;
}
.page-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
  padding: 0;
  border: 1px solid #e8e8e8;
  border-radius: 0.3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.drop-down {
  position: relative;
  cursor: pointer;
  width: 20rem;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  max-width: 17rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.drop-down:before {
  background: #e8e8e8;
  bottom: 1rem;
  content: "";
  display: block;
  height: auto;
  position: absolute;
  right: 0;
  top: 1rem;
  width: 1px;
}
.drop-down_label {
  position: absolute;
  left: 1rem;
  top: 1rem;
  pointer-events: none;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  color: #963cff;
  font-weight: 700;
  font-style: italic;
  white-space: nowrap;
}
.drop-down_current {
  font-weight: 700;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #2f2f2f;
  padding: 2.5rem 1rem 1rem 1rem;
}
.drop-down_current:after {
  display: block;
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.103 7.30398C15.2146 7.45619 15.2648 7.6449 15.2434 7.83246C15.222 8.02001 15.1307 8.19261 14.9877 8.31582C14.8447 8.43902 14.6605 8.50376 14.4718 8.49711C14.2832 8.49047 14.104 8.41293 13.97 8.27998L9.99997 4.30998L6.02997 8.27998L5.94597 8.35298C5.79376 8.46463 5.60504 8.51478 5.41749 8.49341C5.22993 8.47205 5.05733 8.38075 4.93413 8.23773C4.81092 8.09471 4.74618 7.91049 4.75283 7.72184C4.75947 7.53319 4.83701 7.35398 4.96997 7.21998L9.46997 2.71998L9.55397 2.64698C9.69844 2.54026 9.87641 2.48894 10.0555 2.50233C10.2346 2.51573 10.403 2.59296 10.53 2.71998L15.03 7.21998L15.103 7.30398ZM4.89697 12.696C4.78532 12.5438 4.73517 12.3551 4.75653 12.1675C4.77789 11.9799 4.86919 11.8073 5.01221 11.6841C5.15524 11.5609 5.33945 11.4962 5.52811 11.5028C5.71676 11.5095 5.89597 11.587 6.02997 11.72L9.99997 15.69L13.97 11.72L14.054 11.647C14.2062 11.5353 14.3949 11.4852 14.5824 11.5065C14.77 11.5279 14.9426 11.6192 15.0658 11.7622C15.189 11.9052 15.2537 12.0895 15.2471 12.2781C15.2405 12.4668 15.1629 12.646 15.03 12.78L10.53 17.28L10.446 17.353C10.3015 17.4597 10.1235 17.511 9.94442 17.4976C9.76531 17.4842 9.59696 17.407 9.46997 17.28L4.96997 12.78L4.89697 12.696Z' fill='%232F2F2F'/%3E%3C/svg%3E");
  width: 20px;
  height: 20px;
  position: absolute;
  right: 1.8rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.drop-down_current:hover {
  color: #ff2882;
}
.drop-down_current:hover:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.103 7.30398C15.2146 7.45619 15.2648 7.6449 15.2434 7.83246C15.222 8.02001 15.1307 8.19261 14.9877 8.31582C14.8447 8.43902 14.6605 8.50376 14.4718 8.49711C14.2832 8.49047 14.104 8.41293 13.97 8.27998L9.99997 4.30998L6.02997 8.27998L5.94597 8.35298C5.79376 8.46463 5.60504 8.51478 5.41749 8.49341C5.22993 8.47205 5.05733 8.38075 4.93413 8.23773C4.81092 8.09471 4.74618 7.91049 4.75283 7.72184C4.75947 7.53319 4.83701 7.35398 4.96997 7.21998L9.46997 2.71998L9.55397 2.64698C9.69844 2.54026 9.87641 2.48894 10.0555 2.50233C10.2346 2.51573 10.403 2.59296 10.53 2.71998L15.03 7.21998L15.103 7.30398ZM4.89697 12.696C4.78532 12.5438 4.73517 12.3551 4.75653 12.1675C4.77789 11.9799 4.86919 11.8073 5.01221 11.6841C5.15524 11.5609 5.33945 11.4962 5.52811 11.5028C5.71676 11.5095 5.89597 11.587 6.02997 11.72L9.99997 15.69L13.97 11.72L14.054 11.647C14.2062 11.5353 14.3949 11.4852 14.5824 11.5065C14.77 11.5279 14.9426 11.6192 15.0658 11.7622C15.189 11.9052 15.2537 12.0895 15.2471 12.2781C15.2405 12.4668 15.1629 12.646 15.03 12.78L10.53 17.28L10.446 17.353C10.3015 17.4597 10.1235 17.511 9.94442 17.4976C9.76531 17.4842 9.59696 17.407 9.46997 17.28L4.96997 12.78L4.89697 12.696Z' fill='%23ff2882'/%3E%3C/svg%3E");
}
.drop-down_list {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  position: absolute;
  top: 5rem;
  left: 0;
  z-index: 70;
  background: #fff;
  min-width: 100%;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-box-shadow: 0 1px 12px 0 rgba(0,0,0,0.15);
          box-shadow: 0 1px 12px 0 rgba(0,0,0,0.15);
  border-radius: 0 0 2px 2px;
  max-height: 40rem;
  overflow-y: auto;
  padding: 1rem 0;
  cursor: default;
  font-weight: 400;
}
.drop-down_list:before {
  background: -webkit-gradient(linear, right top, left top, from(#ff2882), to(#963cff));
  background: linear-gradient(270deg, #ff2882, #963cff);
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.drop-down_list.pad {
  padding: 1rem;
}
.drop-down_list ul {
  font-size: 0.9rem;
}
.drop-down_list li {
  color: #333;
  padding: 0.7rem 1rem;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-bottom: 1px solid #e8e8e8;
}
.drop-down_list li:hover {
  font-weight: 700;
}
.drop-down_list li:last-child {
  border-bottom: none;
}
.drop-down_list button {
  font-size: 0.8rem;
}
.filter-button_reset {
  margin-left: auto;
}
.filter-button_reset span {
  color: #76766f;
  cursor: pointer;
  font-size: 0.8rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 1.1rem 3rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}
.filter-button_reset span i {
  display: inline-block;
  content: "";
  width: 18px;
  height: 18px;
  margin-right: 0.5em;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 28C20.3734 28 22.6935 27.2962 24.6668 25.9776C26.6402 24.6591 28.1783 22.7849 29.0866 20.5922C29.9948 18.3995 30.2324 15.9867 29.7694 13.6589C29.3064 11.3312 28.1635 9.19295 26.4853 7.51472C24.8071 5.83649 22.6689 4.6936 20.3411 4.23058C18.0133 3.76756 15.6005 4.0052 13.4078 4.91345C11.2151 5.8217 9.34094 7.35977 8.02236 9.33316C6.70379 11.3066 6 13.6266 6 16V22.2L2.4 18.6L1 20L7 26L13 20L11.6 18.6L8 22.2V16C8 14.0222 8.58649 12.0888 9.6853 10.4443C10.7841 8.79981 12.3459 7.51809 14.1732 6.76121C16.0004 6.00433 18.0111 5.8063 19.9509 6.19215C21.8907 6.578 23.6725 7.53041 25.0711 8.92894C26.4696 10.3275 27.422 12.1093 27.8079 14.0491C28.1937 15.9889 27.9957 17.9996 27.2388 19.8268C26.4819 21.6541 25.2002 23.2159 23.5557 24.3147C21.9112 25.4135 19.9778 26 18 26V28Z' fill='%23242424'/%3E%3C/svg%3E");
}
.filter-button_reset span:hover {
  color: #ff2882;
}
.filter-button_reset span:hover i {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 28C20.3734 28 22.6935 27.2962 24.6668 25.9776C26.6402 24.6591 28.1783 22.7849 29.0866 20.5922C29.9948 18.3995 30.2324 15.9867 29.7694 13.6589C29.3064 11.3312 28.1635 9.19295 26.4853 7.51472C24.8071 5.83649 22.6689 4.6936 20.3411 4.23058C18.0133 3.76756 15.6005 4.0052 13.4078 4.91345C11.2151 5.8217 9.34094 7.35977 8.02236 9.33316C6.70379 11.3066 6 13.6266 6 16V22.2L2.4 18.6L1 20L7 26L13 20L11.6 18.6L8 22.2V16C8 14.0222 8.58649 12.0888 9.6853 10.4443C10.7841 8.79981 12.3459 7.51809 14.1732 6.76121C16.0004 6.00433 18.0111 5.8063 19.9509 6.19215C21.8907 6.578 23.6725 7.53041 25.0711 8.92894C26.4696 10.3275 27.422 12.1093 27.8079 14.0491C28.1937 15.9889 27.9957 17.9996 27.2388 19.8268C26.4819 21.6541 25.2002 23.2159 23.5557 24.3147C21.9112 25.4135 19.9778 26 18 26V28Z' fill='%23ff2882'/%3E%3C/svg%3E");
}
.slider {
  margin: 3rem 0 2rem;
}
.slider + footer {
  text-align: right;
}
.noUi-tooltip,
.noUi-active .noUi-tooltip {
  display: block;
}
.noUi-tooltip {
  border: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 0.8rem;
  color: #777676;
}
.noUi-target {
  padding: 0 15px;
  height: 4px;
  border: none;
  background: #e5e5e5;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.noUi-horizontal .noUi-handle {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  top: -14px;
  border-color: #ff2882;
  border-width: 2px;
  cursor: pointer;
}
.noUi-horizontal .noUi-handle:before,
.noUi-horizontal .noUi-handle:after {
  display: none;
}
.noUi-horizontal .noUi-handle:focus {
  outline: none;
  background: #ff2882;
}
.noUi-connect {
  background: #ff2882;
}
body {
  min-height: 100vh;
  background: #fff;
}
#page-wrapper {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header header" "sidebar main";
  height: 100vh;
}
#header {
  grid-area: header;
}
#header .header_bar {
  background: #37003c;
  padding: 0.5rem 2rem;
  color: #fff;
  text-align: right;
  font-size: 0.9rem;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#header .header_title {
  background: #eaff04;
  padding: 2.9rem 1rem 2.5rem;
}
#header .header_title h1 {
  padding-left: 1.7em;
  background: url("img/logo.png") no-repeat left center;
  background-size: contain;
}
#main {
  grid-area: main;
  padding: 3.4rem 2rem;
  position: relative;
  max-width: 1350px;
}
#main > header {
  margin-bottom: 2rem;
}
#sidebar {
  grid-area: sidebar;
  background: #37003c url("img/watermark-logo.png") fixed no-repeat left bottom;
}
#main h1,
#sidebar h1 {
  line-height: 3.6rem;
}
#nav-main {
  margin-top: 3rem;
  font-size: 0.9rem;
}
#nav-main li {
  margin-bottom: 0.3rem;
  background: #5a0f61;
  background: #28092b;
}
#nav-main li a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#nav-main > ul > li .active + .sub-nav {
  display: block;
  display: none;
}
#nav-main > ul > li > .sub-nav {
  max-height: 600px;
  overflow-y: auto;
  display: none;
/* width */
/* Track */
/* Handle */
/* Handle on hover */
}
#nav-main > ul > li > .sub-nav::-webkit-scrollbar {
  width: 10px;
}
#nav-main > ul > li > .sub-nav::-webkit-scrollbar-track {
  background: #4c0c52;
}
#nav-main > ul > li > .sub-nav::-webkit-scrollbar-thumb {
  background: #bf96cd;
  border-radius: 27px;
}
#nav-main > ul > li > .sub-nav::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#nav-main > ul > li > a {
  padding: 0.8rem 1rem;
  background-color: #45004b;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.33337 2.16675L8.66671 6.50008L4.33337 10.8334' stroke='%23754279' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: 95% center;
  background-repeat: no-repeat;
  border-left: 5px solid transparent;
}
#nav-main > ul > li > a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.33337 2.16675L8.66671 6.50008L4.33337 10.8334' stroke='%23BAA0BC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
#nav-main > ul > li > a.active {
  margin-right: -0.5rem;
  padding-left: 1.4rem;
  background-color: #eaff04;
  color: #37003c;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
          box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-weight: 700;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.33337 2.16675L8.66671 6.50008L4.33337 10.8334' stroke='%23744B76' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
#nav-main > ul > li > a:hover {
  border-left-color: #eaff04;
  text-decoration: none;
}
#nav-main nav:last-child {
  border-bottom: none;
}
#nav-main nav a,
#nav-main nav .title {
  color: #fff;
}
#nav-main nav .title {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: calc(1rem + 5px);
  background: #ff3c74;
  font-weight: bold;
  padding: 0.6rem 1.5rem;
}
#nav-main nav li > a {
  padding: 0.5rem calc(1rem + 5px + 0.5rem);
}
#nav-main nav li > a:hover,
#nav-main nav li > a.active {
  background: #743279;
}
/******************/
.page-filter .drop-down_list {
  display: none;
  -webkit-animation: slideUp 0.2s ease-in-out;
          animation: slideUp 0.2s ease-in-out;
}
.page-filter .drop-down_list.active {
  display: block;
}
.page-filter .drop-down_list .desc {
  color: #363636;
  font-size: 0.85rem;
  padding-bottom: 1rem;
}
header .stat-nav {
  cursor: pointer;
  display: inline-block;
}
header .stat-nav:hover {
  color: #ff2882;
}
header .sub-nav {
  width: 95%;
  height: 200px;
  padding: 1rem;
  font-size: 0;
  background: #ff2882;
  margin-top: -1.5rem;
  margin-bottom: 3rem;
  display: none !important;
}
header .sub-nav.active {
  -webkit-animation: slideUp 0.2s ease-in-out;
          animation: slideUp 0.2s ease-in-out;
  display: block;
}
header .sub-nav nav {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}
header .sub-nav nav h2 {
  color: #fff;
}
header .sub-nav nav li {
  font-size: 1rem;
  color: #fff;
}
.compare-results .set-head {
  font-size: 1.4rem;
  margin: 3rem 0 1rem 0;
  display: block;
}
.compare-results .set {
  display: block;
  border: 1px solid #eee;
}
.compare-results .set .row {
  display: block;
  font-size: 0;
}
.compare-results .set .row:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.compare-results .set .label,
.compare-results .set .player1,
.compare-results .set .player2 {
  display: inline-block;
  width: 33.33%;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-right: 1px solid #eee;
}
.compare-results .set .player1,
.compare-results .set .player2 {
  text-align: center;
  font-weight: bold;
}
.compare-results .set .player1.highlight {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(237,237,237,0.75)), color-stop(50%, rgba(237,237,237,0)), to(rgba(255,255,255,0)));
  background: linear-gradient(90deg, rgba(237,237,237,0.75) 0, rgba(237,237,237,0) 50%, rgba(255,255,255,0));
  color: #ff2882;
}
.compare-results .set .player2.highlight {
  background: -webkit-gradient(linear, right top, left top, color-stop(0, rgba(237,237,237,0.75)), color-stop(50%, rgba(237,237,237,0)), to(rgba(255,255,255,0)));
  background: linear-gradient(270deg, rgba(237,237,237,0.75) 0, rgba(237,237,237,0) 50%, rgba(255,255,255,0));
  color: #ff2882;
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 1;
  }
}
