@font-face
	font-family: "Corporative Sans Rounded"
	src local('Corporate Sans Rounded 400'), local('Corporate-Sans-Rounded-400'), url('400.woff2')
	font-weight 300

@font-face
	font-family: "Corporative Sans Rounded"
	src local('Corporate Sans Rounded 500'), local('Corporate-Sans-Rounded-500'), url('500.woff2')
	font-weight 400

@font-face
	font-family: "Corporative Sans Rounded"
	src local('Corporate Sans Rounded 600'), local('Corporate-Sans-Rounded-600'), url('600.woff2')
	font-weight 500

@font-face
	font-family: "Corporative Sans Rounded"
	src local('Corporate Sans Rounded 700'), local('Corporate-Sans-Rounded-700'), url('700.woff2')
	font-weight 700
