//slab = 'Space Mono'
slab = 'Corporative Sans Rounded'

// not used
green = #99CB50
blue = #1cb8f3
pink = #fd75c5
orange = #ffbb4d
red = #fb4d4f // same as danger!?

// used on form invalid inputs
danger = #fb4d4f



_yellow = #ffe100
_green = #04ba5f
_pink =  #ff2b63
