body
	min-height: 100vh
	background $page-bg

#page-wrapper
	display grid
	grid-template-columns 250px auto
	grid-template-rows auto 1fr
	grid-template-areas: "header header" "sidebar main"
	height 100vh

#header
	grid-area header

	.header_bar
		background $primary-color
		padding: .5rem 2rem
		color white
		text-align right
		font-size: .9rem;
		font-style: italic;
		display: flex;
		align-items: center;
		justify-content: flex-end;

	.header_title
		background $secondary-color
		padding 2.9rem 1rem 2.5rem

		h1
			padding-left 1.7em
			background url(img/logo.png) no-repeat left center
			background-size contain

#main
	grid-area main
	padding $main-pad-top $main-pad-side
	position: relative
	max-width 1350px

	& > header
		margin-bottom 2rem

#sidebar
	grid-area sidebar
	background $sidebar-bg url(img/watermark-logo.png) fixed no-repeat left bottom

#main, #sidebar
	h1
		line-height 3.6rem;

#nav-main
	margin-top 3rem
	font-size .9rem

	// all li
	li
		margin-bottom: .3rem;
		background $nav-sub-bg
		background #28092b

		// all a
		a
			color $nav-link-color
			display flex
			align-items center

	// primary nav
	& > ul > li
		.active + .sub-nav
			display block
			display none

		& > .sub-nav
			max-height 600px
			overflow-y: auto
			display none

			/* width */
			&::-webkit-scrollbar
				width: 10px;

			/* Track */
			&::-webkit-scrollbar-track
				background: #4C0C52;


			/* Handle */
			&::-webkit-scrollbar-thumb
				background: #BF96CD;
				border-radius 27px


			/* Handle on hover */
			&::-webkit-scrollbar-thumb:hover
				background: #555;

		& > a
			padding .8rem 1rem
			background-color $nav-link-bg
			background-image url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.33337 2.16675L8.66671 6.50008L4.33337 10.8334' stroke='%23754279' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
			background-position 95% center
			background-repeat no-repeat
			border-left 5px solid transparent

			&:hover
				background-image url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.33337 2.16675L8.66671 6.50008L4.33337 10.8334' stroke='%23BAA0BC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")


			&.active
				margin-right -.5rem
				padding-left 1.4rem
				background-color $secondary-color
				color $sidebar-bg
				box-shadow 0 0 10px rgba(0, 0, 0, 20%)
				font-weight 700
				background-image url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.33337 2.16675L8.66671 6.50008L4.33337 10.8334' stroke='%23744B76' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")

			&:hover
				border-left-color $secondary-color
				text-decoration: none

	//secondary nav
	nav
		&:last-child
			border-bottom none
		a, .title
			color white

		.title
			font-size: .7rem
			text-transform uppercase
			font-weight 400
			padding-left calc(1rem + 5px)
			background #ff3c74
			font-weight bold
			padding .6rem 1.5rem


		li > a
			padding .5rem calc(1rem + 5px + .5rem)

			&:hover, &.active
				background $nav-sub-link-hover-bg


.tabs
	border-bottom 1px solid #e8e8e8
	margin-bottom 1.5rem
	display flex
	margin-top -1rem

	a
		display block
		padding: .5em 1em;

		&.active
			color $tertiary-color
			border-bottom: 3px solid $tertiary-color
			transition: color 0.2s ease-in-out, border 0.06s ease-in-out
			font-weight 700

		&:not(.active):hover
			opacity .6

.stats-records
	.stats-card .top
		background inherit
		color inherit


	td:last-child
		font-weight: 700

	.date
		font-size .8rem

	h3
		position relative
		text-align center
		top 10px

	thead
		tr
			th
				background #8b35e7
				color #c2adff
				font-size .8rem
				// padding .5rem 0 .5rem 0

	tbody
		tr
			&:hover
				background black

			td
				padding .5rem 0
				line-height 1rem
				vertical-align middle
				font-size .9rem !important
				vertical-align middle !important
				padding .75em 0

				&:first-child
					padding-left .5rem
					width 18px

		a
			font-weight 400
			font-style normal
			color #888

		tr:hover a
			color #ff2882
			box-shadow inset 0 -2px 0 0 rgba(#ff2882, .2)

			&:hover
				box-shadow none


// Player Comparison
.ts-input
	border: none
	background: #efefef;

.ts-input, .ts-input.focus, .ts-input.dropdown-active
	border-radius: 10px;
	padding: 0.5rem 1rem;

.ts-input.focus, .ts-input.dropdown-active
	box-shadow: inset 0 0 1px 2px #e2e2e2
	border none

.ts-control.multi .ts-input > div
	margin-right .5rem
	background: $tertiary-color
	color white
	border-radius: 10px;
	padding: .2em .7em;



.ts-control.plugin-remove_button .item .remove
	border-left-color transparent

.player-comparison__select-wrapper
	max-width: 50rem
	margin: 0 auto

.player-comparison__select .form-group
	display flex

	.ts-control
		width: 80%
		margin-right 1rem
.player-comparison__group
	&-header
		border-bottom: 1px solid $table-row-color
		margin-top 1rem


	&-title
		font-size: 1.1rem
		margin: 0
		padding: 1em 0;
		position relative
		cursor pointer

		.icn
			display: block
			width 15px
			height 15px
			background-image url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='451.847' height='451.847'%3E%3Cpath style='fill:%23242424' d='M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z'/%3E%3C/svg%3E")
			background-size 15px
			background-position center
			background-repeat no-repeat
			position: absolute;
			right: .5rem;
			top: 50%;
			transform: translateY(-50%);
			transition: transform .3s ease-in-out;
	&.active
		.player-comparison__stats
			display: block
		.player-comparison__group
			&-header .icn
				transform: translateY(-50%) rotateX(180deg)

			&-title
				border none

.player-comparison__accordion ul
		@extend .ul-reset

.player-comparison__stats
	display: none

	.row
		display: flex

		& > div
			padding .5rem
			flex 1
			border-bottom: 1px solid $table-row-color
			display: flex;
			align-items: center;
			justify-content: center;

		.label
			border-left: 1px solid $table-row-color
			border-right: 1px solid $table-row-color
			color #76766f
			font-weight: 700
			justify-content: flex-start

		.player-value
			border-right: 1px solid $table-row-color
			text-align: center

	.highlight
		background rgb(255 243 245)
		color $tertiary-color
		font-weight: 700

	&.name-area
		display: block
		position: sticky
		top: -1px;
		padding: 1em;
		padding-top: calc(1em + 1px);
		background: white
		border-bottom: 2px solid $tertiary-color
		padding 1rem 0
		z-index: 100

		.label, .player-value
			border none
			font-weight: 700

		&.isSticky
			border-bottom-width 4px
