$font-family = 'Nunito', sans-serif
$font-family-alt = $font-family

$page-bg = #FFFFFF
$sidebar-bg = #37003C
$nav-link-color = #FFFFFF
$nav-link-bg = #45004b
$body-color = #242424
$title-color = $body-color
$primary-color = #37003C //dark purple
$secondary-color = #EAFF04 // bright yellow
$tertiary-color = #ff2882 // bright pink

$nav-sub-bg = #5A0F61
$nav-sub-link-hover-bg = #743279

$selection-color = $tertiary-color

$main-pad-top = 3.4rem
$main-pad-side = 2rem

$table-zebra-bg = $primary-color
$table-cell-padding = 1em .8em
$table-th-color = #6c6c6c
$table-th-bg = #fbfbfb
$table-th-padding = 1em .5em
//$table-highlight = linear-gradient(180deg, #8A34E6 0%, #501070 100%)
$table-highlight = linear-gradient(180deg, $tertiary-color, #b51e88)
$table-row-color = #e8e8e8
$table-tr-hover-bg = #fef7ff


$field-checkbox-width = 1.7em

$checkbox-default-bg = rgba($tertiary-color,0.2)
$checkbox-checked-bg = $tertiary-color
$checkbox-hover-bg = rgba($tertiary-color,0.4)
$checkbox-checked-row-bg = rgba(255, 244, 166, 0.2)

$button-bg = $primary-color
$button-bg-hover = $tertiary-color
$button-delete-bg = #E05B52
$button-delete-color = #E05B52

$drop-scroll-thumb = #7b7b85
$drop-scroll-track = white

// not surrently used
$form-element-padding-top-bottom = 0.8em
$form-element-padding-left-right = 0.8em
$field-border = #ccd4dd
$field-width = 100%
$field-max-width = 295px
$field-padding = $form-element-padding-top-bottom $form-element-padding-left-right
$field-padding-large = 1em
$field-radius = 7px
$field-margin-bottom = 1.7rem
$field-bg = $primary-color
$field-outline = #20A8D2
$field-color = $body-color

$error-color = #420e0e
$error-bg = #EB5757
$valid-color = #226222
$valid-bg = #6aec6a
$disabled-color = #c2c5c4

$labelstyle
	font-weight: 600

fieldoutline($outline-color = $field-outline)
	box-shadow: inset 0 0 1px 2px $outline-color

$formgroup-label
	display: block
	margin-bottom: 0.5rem

$field-group
	margin-bottom: $field-margin-bottom
	position: relative
	label
		@extend $formgroup-label
	&:not(.form-group-checkbox):not(.form-group-radio) > label
		width: 100%
	.button
		margin-bottom: 0
// end not curently used
