$font-family = 'Nunito', sans-serif
$font-family-alt = $font-family

$page-bg = #FFFFFF
$sidebar-bg = #37003C
$nav-link-color = #FFFFFF
$nav-link-bg = #45004b
$body-color = #242424
$title-color = $body-color
$primary-color = #37003C //dark purple
$secondary-color = #EAFF04 // bright yellow
$tertiary-color = #ff2882 // bright pink

$selection-color = $tertiary-color

$main-pad-top = 3.4rem
$main-pad-side = 2rem

$table-zebra-bg = $primary-color
$table-cell-padding = 1em .8em
$table-th-color = #6c6c6c
$table-th-bg = #fbfbfb
$table-th-padding = 1em .5em
$table-highlight = linear-gradient(180deg, #8A34E6 0%, #501070 100%), rgba(220, 148, 254, 0.09)
$table-row-color = #e8e8e8

$button-bg = $primary-color
$button-bg-hover = $secondary-color
$button-delete-bg = #E05B52
$button-delete-color = #E05B52

// not surrently used
$form-element-padding-top-bottom = 0.8em
$form-element-padding-left-right = 0.8em
$field-border = #ccd4dd
$field-width = 100%
$field-max-width = 295px
$field-padding = $form-element-padding-top-bottom $form-element-padding-left-right
$field-padding-large = 1em
$field-radius = 7px
$field-margin-bottom = 1.7rem
$field-bg = $primary-color
$field-outline = #20A8D2
$field-color = $body-color

$error-color = #420e0e
$error-bg = #EB5757
$valid-color = #226222
$valid-bg = #6aec6a
$disabled-color = #c2c5c4

$labelstyle
  font-weight: 700

// end not curently used
