@import 'base/reset.styl'
@import 'base/helpers.styl'
@import 'base/form.styl'

/* custom variables */
@import 'custom/variables.styl'
@import 'custom/type.styl'
@import 'custom/form.styl'
@import 'custom/buttons.styl'
@import 'custom/components.styl'
@import 'custom/layout.styl'

/******************/

@keyframes slideUp
	0%
		transform translateY(5%)
		opacity 0

	80%
		transform translateX(0)

	100%
		opacity 1

.page-filter
	.drop-down_list
		display none
		animation slideUp .2s ease-in-out

		&.active
			display block
