:root
	font-size 17px
	font-family 'Montserrat', sans-serif
	--width 1450px
	--color #004aff
	--glow var(--color)

body
	background #131417
	height 100%

	display flex
	flex-direction column

	flex-wrap nowrap
	justify-content flex-start
	align-items stretch
	align-content stretch


.background
	background black url('https://i.imgur.com/ycymETc.png')
	background-position center -867px
	// background black url('https://i.imgur.com/trirbHV.png')
	// background-position center -922px
	background-size auto 100%
	background-repeat no-repeat
	width 100%
	height 1200px
	display block
	position absolute
	z-index 0
	filter grayscale(40%)

.hide
	display none !important

.nav-bar-primary
	backdrop-filter blur(10px)
	background rgba(15,24,55,.9)
	box-shadow inset 0 0 0 2px rgba(0,0,0,.15),0 0 0 2px transparent,inset 0 -.5rem .5rem -.5rem var(--glow), 0 -.5rem .5rem .5rem var(--glow)
	border-bottom: 2px solid var(--color)
	width 100%
	display flex
	flex-flow nowrap
	// display none

	a
		color #4a6ba3
		font-size .9rem
		text-decoration none
		padding 0 .8rem
		display inline-block
		vertical-align middle
		height 3rem
		display flex
		align-items center
		justify-content center
		text-transform uppercase
		font-weight 600

		&.active span
			color #1adbd4
			box-shadow 0 2px 0 0 rgba(#1adbd4, 10%)

		&.active
		&:hover
			color white

		&:first-child
			padding-left 1.5rem

			svg
				height 1.4rem
				position relative
				margin-top -.15rem


	.right
		display flex
		align-items center
		justify-content center
		margin-left auto
		padding-right 6px

		a
			color white !important
			box-shadow 0 2px 0 0 #ffffff24
			text-shadow 0 0 20px #ffffff

		input
			font-size .85rem
			font-weight 400
			color white
			caret-color white
			background-position calc(.75rem) calc(.56rem)
			background-repeat no-repeat
			background-size .95rem .95rem
			border none
			padding .4rem .4rem .4rem 2.1rem
			margin-top -2px
			background-color #132151e6
			background-image url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><circle cx='11' cy='11' r='8'/><path d='m21 21-4.35-4.35'/></svg>")
			border-radius .4rem
			display none

			&:focus
				transition background .2s ease-in-out
				outline none
				color white
				outline 2px solid #f6d616

			&::placeholder
				color #5b7fc0




.nav-bar-secondary
	// clip-path url(#wave)
	padding 1rem 0 0 0
	position relative
	z-index 2

	.wrap
		max-width var(--width)
		margin 0 auto
		display block
		z-index 9
		padding .5rem 1.5rem 0 1.5rem
		color white

		.breadcrumb
			line-height 1.2rem
			font-size .8rem
			text-transform: capitalize;

			a
			.crumb
			.current
				display inline-block
				margin-right .5rem
				color rgba(white, .75)

			a
				border-bottom 2px solid rgba(white, .1)
				text-decoration none

				&:hover
					border-bottom-color transparent

			.current
				font-weight 600
				color rgba(white, .75)

		h1
			font-weight 800
			font-size 2rem
			color white
			text-shadow 0 0 60px white

		.nav-bar
			padding-top 1rem

			a
				display inline-block
				color white
				padding .8rem 1rem
				text-decoration none
				font-size .9rem
				line-height .9rem
				margin-right .5rem
				border-radius .2rem .2rem 0 0
				background rgba(black, .2)
				backdrop-filter blur(2px)

				&.active
				&:hover
					backdrop-filter none
					position relative
					z-index 99
					color white
					// background linear-gradient(to top right,var(--color),#002787)
					background var(--color) linear-gradient(to top right,var(--color), rgba(black, .47))


.nav-bar-tertiary
	border-bottom 1px solid #ffffff0a
	width 100%
	margin-bottom 1rem

	a
		font-size .9rem
		color white
		text-decoration none
		color rgba(white, .3)
		display inline-block
		padding .5rem .75rem

		&.active
		&:hover
			color #1adbd4
			box-shadow inset 0 -2px 0 #1adbd4

.contain
	box-shadow inset 0 .5rem .5rem -.5rem var(--glow), 0 -.5rem .5rem -.5rem var(--glow)
	border-top 2px solid var(--color)
	display block
	margin 0 auto
	padding 1.5rem 0
	width 100%
	background #131417
	position relative
	z-index 1

	flex: 1 1 auto;
	display: flex;

	.wrap
		width 100%
		padding 0 1.5rem
		max-width var(--width)
		margin 0 auto
