.misc-contain
	box-shadow none
	border-top none

	.wrap
		width 70%
		max-width 950px

	h1
		text-transform: uppercase;
		color white
		font-weight 600
		font-size 1.4rem
		margin-bottom 1rem

		svg
			height 1.6rem
			fill #4e4e4e
			vertical-align -0.3rem
			margin-right .6rem

	h2
		padding: 0.8rem 0 0.6rem 0;
		font-size: 1rem;
		font-weight: 600;
		color: #a8a8a8;
		background: linear-gradient(to top right,#000,#0b0c0e);
		border-radius: 6px 6px 0 0;
		padding-left 1rem

		&:before
			content "Q: "
			color #3c3c3c
			color #d9bd5e

	p
		background #0b0c0ebf
		padding 1rem
		color #e1e1e1
		margin-bottom 1.2rem
		border-radius 0 0 6px 6px
		font-weight 400


	ul
		background #0b0c0ebf
		padding 1rem
		margin 0
		list-style none

		li
			padding 0 1rem
			color white
