body.players
	.nav-bar-primary
		box-shadow none
		border-bottom none

.players-list
	.player-stats
		.row
			.item.country
				text-align right
				flex 0 0 4%

				img
					display inline-block
					height 12px
					width 16px
					border-radius 3px
					box-shadow 0 0 10px rgba(black, .3)
					position relative
					top 1px

			.winrate
				.val
					color white
					font-size .8rem
					font-weight 600
					text-align right
					display inline-block
					width 30%
					padding-right .5rem
				.bar
					display inline-block
					width 30%
					background #ffffff17
					height 8px
					border-radius 2px
					margin-right 1rem

					.inner
						display block
						height inherit
						border-radius inherit

					&.good
						.inner
							background #2acb4f
							box-shadow 0 0 10px #2acb4f

					&.bad
						.inner
							background #ec041f
							box-shadow 0 0 10px #ec041f

			.item[data-column="games"]
			.item[data-column="ppg"]
			.item[data-column="cap diff"]
			.item[data-column="seasons"]
			.item[data-column="avg cost"]
			.item[data-column="captaincies"]
			.item[data-column="championships"]
			.item[data-column="runnerups"]
			.item[data-column="openskill"]
				flex 0 0 7.5%

			&.head .item.captaincies
				svg
					height .6rem
					width .6rem
					fill white
					vertical-align -2px

				&.active
				&:hover
					box-shadow 0 2px 0 #1adbd4
					svg
						fill #1adbd4

			&.head .item.championships
				svg
					fill url(#gold.trophy)
					width 1.1rem
					height 1.1rem
					vertical-align text-bottom

				&.active
				&:hover
					box-shadow 0 2px 0 #1adbd4

			&.head .item.runnerups
				svg
					fill url(#silver.trophy)
					width 1.1rem
					height 1.1rem
					vertical-align text-bottom

				&.active
				&:hover
					box-shadow 0 2px 0 #1adbd4
