.playerseasons

	.season:not(:last-child)
		margin-bottom 1rem

	.season
		background #0b0c0e
		border-radius 6px
		display flex

		.main
			padding 1rem
			background linear-gradient(to top right,#000,#0b0c0e)
			border-radius 6px 0 0 6px
			justify-content center
			align-items center
			flex 0 100%

			h1
				font-size .9rem
				font-weight 600
				text-transform uppercase
				color #747474

			.acronym
				text-shadow 0 0 10px var(--teamglow)
				color var(--teamcolor)
				font-size .8rem
				font-weight 600

			.team
				font-size 1rem
				color white
				display none

		.block_left
			display flex
			justify-content center

			ul.stats
				list-style none
				margin 0

				li
					display flex
					width 10rem
					padding .2rem 0
					font-size .8rem
					color #8b8b8b
					align-items center
					padding-left .5rem
					padding-right .5rem

					&:not(:last-child)
						border-bottom 1px solid #131417

					.lab
						color #8b8b8b
						width calc(100% - 30px)
						justify-content center
						align-items center

					.pos
						width 30px
						margin 0 0.2rem
						border-radius 0.3rem
						color white
						background linear-gradient(to bottom right,rgba(41,43,51,.5) 0,rgba(31,32,38,.5) 100%)
						display flex
						justify-content center
						align-items center

						&.high
							color #1dbf38
							font-weight 700
						&.avg
							color #a9b132
							font-weight 700

		.block_right
			display flex
			justify-content center
			align-items center

		.radar
			padding-top .75rem
			position relative

			.names
				font-size .7rem
				fill #ffffff66

			.real
				stroke rgb(255 200 0)
				fill #dcb14e91

			.avg
				stroke rgba(white, .75)




.player-stats
	.result
		text-transform uppercase

		a
			padding .2rem
			border-radius .2rem
			font-size .6rem
			font-weight 600
			color white !important
			width 26px
			text-align center

			&:hover
				box-shadow none !important

			&.w
				background: #2acb4f;
				box-shadow: 0 0 10px #2acb4f;

			&.l
				background: #ec041f;
				box-shadow: 0 0 10px #ec041f;

			&.t
				background black
