doctype html
html
	head
		title= config.title
		meta(charset='utf-8')
		link(rel='stylesheet', href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap")
		link(rel='stylesheet', href='/app.css')
		link(rel='icon', href='/favicon.svg', type='image/svg+xml')
		script(defer, src='/app.js')

	body(
		class= config.nav.cat
		class= config.tier
	)
		.background

		.nav-bar-primary
			a(href="/")
				include ../../public/favicon.svg
				span Tagpro.dev

			a(href="/player" class=(config.nav.cat === 'players' ? 'active' : ''))
				span Players

			// a(href="/leaderboards/ctf/majors" class=(config.nav.cat === 'leaderboards' ? 'active' : ''))
			// 	span Leaders

			a(href="/records/ctf/majors" class=(config.nav.page === 'records' ? 'active' : ''))
				span Records

			.right
				form(action="/search")
					input(type="text", placeholder="Search player", name="q", value= search ? search : '', )
