doctype html
html
	head
		title= config.title
		meta(charset='utf-8')
		link(rel='stylesheet', href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap")
		link(rel='stylesheet', href='/init.css')
		link(rel='icon', href='/favicon.svg', type='image/svg+xml')
		script(src='/init.js', async)
		| <script defer type="text/javascript" src="https://api.pirsch.io/pirsch.js" id="pirschjs" data-code="rCf3zbJZfR6JWanXlrObtEsAvLrlZLHS"></script>

	body
		.background

		.nav-bar-primary
			// a(href="/")
			// 	include ../../public/favicon.svg

			a(href="/ctf/1" class=(config.nav.cat === 'ctf' ? 'active' : ''))
				span CTF

			a(href="/nf/1" class=(config.nav.cat === 'nf' ? 'active' : ''))
				span NF

			// a(href="#" class=(config.nav.cat === 'players' ? 'active' : ''))
			// 	span Players

			// a(href="/leaderboards" class=(config.nav.cat === 'leaderboards' ? 'active' : ''))
			// 	span Leaderboard

			// .right
			// 	input(type="text", placeholder="Search", name="tagpro.dev search")

			// 	a(href="/login" class=(config.nav.cat === 'ctf' ? 'active' : ''))
			// 		span Login
