doctype html
html
	head
		title= config.title
		meta(charset='utf-8')
		link(rel='stylesheet', href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap")
		link(rel='stylesheet', href='/init.css')
		link(rel='icon', href='/favicon.svg', type='image/svg+xml')
		script(defer, src='/init.js')

	body(
		class= config.nav.cat
	)
		.background

		.nav-bar-primary
			a(href="/")
				include ../../public/favicon.svg
				span Tagpro.dev

			a(href="/player" class=(config.nav.cat === 'players' ? 'active' : ''))
				span Players

			a(href="/ctf/1" class=(config.nav.cat === 'ctf' ? 'active' : ''))
				span CTF

			a(href="/nf/1" class=(config.nav.cat === 'nf' ? 'active' : ''))
				span NF

			a(href="/ecltp/8" class=(config.nav.cat === 'ecltp' ? 'active' : ''))
				span ECLTP

			// a(href="/egg/1" class=(config.nav.cat === 'egg' ? 'active' : ''))
			// 	span EGG


			// a(href="/leaderboards" class=(config.nav.cat === 'leaderboards' ? 'active' : ''))
			// 	span Leaders

			.right
				// input(type="text", placeholder="Search", name="tagpro.dev search")

				a(href="/spy")
					span 🕵️
