doctype html
html
	head
		title= config.title
		meta(charset='utf-8')
		link(rel='stylesheet', href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap")
		link(rel='stylesheet', href='/init.css')
		link(rel='icon', href='/favicon.svg', type='image/svg+xml')
		script(defer, src='/init.js')
		|<script src="https://t.usermaven.com/lib.js"
		|	data-key="UM0zeZQ89m"
		|	data-tracking-host="https://events.usermaven.com"
		|	data-autocapture="true"
		|	defer>
		|</script>
		|<script>window.usermaven = window.usermaven || (function(){(window.usermavenQ = window.usermavenQ || []).push(arguments);})</script>

	body(
		class= config.nav.cat
	)
		.background

		.nav-bar-primary
			a(href="/")
				include ../../public/favicon.svg
				span Tagpro.dev

			a(href="/player" class=(config.nav.cat === 'players' ? 'active' : ''))
				span Players

			a(href="/ecltp/9" class=(config.nav.cat === 'ecltp' ? 'active' : ''))
				span ECLTP 9

			// a(href="/leaderboards" class=(config.nav.cat === 'leaderboards' ? 'active' : ''))
			// 	span Leaders

			.right
				form(action="/search")
					input(type="text", placeholder="Search player", name="q", value= search ? search : '', )

				a(href="/spy")
					span 🕵️
