.nav-bar-secondary
	.wrap
		h1= config.player

		.nav-bar
			a(href=config.path + "" class=(config.nav.page === 'overview' ? 'active' : '')) Overview
			a(href=config.path + "/seasons" class=(config.nav.page === 'seasons' ? 'active' : '')) Seasons
